{% extends 'mesto/base.html' %}
{% load staticfiles %}
{% block 'content' %}
    <div
        class="popUpAnimator baseEvents"
        mesto-feedback-contanier="feedBackPopUp">
        <header class="baseEvents__header">
            <img class="baseEvents__header__img" src="{% static 'mesto/img/logo_black.svg' %}"/>
            <div class="baseEvents__subheader">
            {% block 'subheader' %}
                Events
            {% endblock %}
            </div>
        </header>
        <menu class="mainMenu">
            {% block 'menu_button' %}
            <a class="mainMenu__item fadeAnimator__ancor" href="{% url 'main' %}">
                {% include 'mesto/inc/menu.svg' %}
            </a>
            {% endblock %}
            {% block 'menu_back' %}
            <a class="mainMenu__item back fadeAnimator__ancor" href="{% url 'main' %}">
            </a>
            {% endblock %}
        </menu>
        <main class="baseEvents__content">
            {% block 'main_content' %}
            {% endblock %}
        </main>
        <nav class="baseEvents__menu">
            <a 
                class="baseEvents__menu__item fadeAnimator__ancor {% block 'events_active' %}active {% endblock %}"
                href="{% url 'events:top' %}">
                Мероприятия
            </a>
            <a
                class="baseEvents__menu__item fadeAnimator__ancor {% block 'news_active' %}active {% endblock %}" 
                href="{% url 'news:top' %}">
                Новости
            </a>
        </nav>
    </div>
    {% block footer %}
        {% include 'events/inc/baseFooter.html' %}
    {% endblock %}
{% endblock %}
