{% extends 'mesto/base.html' %}
{% block 'content' %}
    <section class="itemsListAll">
        <menu class="mainMenu white">
            <a class="mainMenu__item back" href="{% url 'events:top' %}">
            </a>
        </menu>
        <article class="itemsListAll__list">
        {% for object in object_list %}
            <a 
                class="itemsListAll__item"
                style="background-image: url('{{ object.image.url }}')"
                href="{% url 'events:detail' slug=object.slug %}">
                 <header class="itemsListAll__header">{{ object.title }}</header>
            </a>
        {% endfor %}
        </article>
        {% if is_paginated %}
        <ul class="pagesList">
            {% for page in paginator.page_range %} 
                <a 
                    class="pagesList__item {% if page_obj.number == page %} active {% endif %}"
                    href="{% url 'events:all' %}?page={{ page }}">
                    {{ page }}
                </a>
            {% endfor %}
        </ul>
        {% endif %}
</section>
{% endblock %}
