{% extends 'events/base.html' %}
{% block 'menu_back' %}
<a 
    class="mainMenu__item back detail fadeAnimator__ancor"
     href="{% url request.resolver_match.namespace|add:":top" %}">
</a>
{% endblock %}
{% block 'news_active' %}
{% endblock %}
{% block 'head' %}
    <meta property="og:image" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.get_host }}{{ object.image.url }}" />
{% endblock %}
{% block 'main_content' %}
    <article class="itemPage">
        <header class="itemPage__header">
            <h1 class="itemPage__header__text">{{ object.title }}</h1>
        </header>
        <time class="itemPage__date">
            {{ object.date|date:"M j Y" }}
        </time>
        <figure class="itemPage__desc">
            <figcaption class="itemPage__shortDesc">
                {{ object.short_desc }}
            </figcaption>
            <img class="itemPage__image" src="{{ object.image.url }}"/>
        </figure>
        <section class="itemPage__content">
            {{ object.desc|safe }}
        </section>
    </article>
    {% with url=request.build_absolute_uri %}
    <menu class="socialList">
        <a
            class="socialList__item vk"
            href="http://vk.com/share.php?url={{ url }}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Vk
        </a>
        <a 
            class="socialList__item fb"
            href="http://www.facebook.com/share.php?u={{ url }}&title={{ object.title|urlencode }}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Fb
        </a>
        <a 
            class="socialList__item tw"
            href="http://twitter.com/intent/tweet?status={{ object.title|urlencode }}+{{ url}}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Tw
        </a>
    </menu>
    {% endwith %}
    {% block 'next_block' %}
        {% include 'events/inc/nextBlock.html' with modificator='events detail' object_list=object.get_next %}
    {% endblock %}
    {% block 'event_footer' %}
        {% include 'events/inc/baseFooter.html' with static=True %}
    {% endblock %}
    <menu class="mainMenu bottom">
        <a 
            class="mainMenu__item back fadeAnimator__ancor"
             href="{% url request.resolver_match.namespace|add:":top" %}">
        </a>
    </menu> 
    <div 
        mesto-feedback-item="feedBackPopUp"
        class="popUpAnimator__content">
        {% include 'mesto/inc/feedBackPopUp.html' with js=True %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
