{% extends 'events/base.html' %}
{% block 'menu_back' %}
<a class="mainMenu__item back" href="{% url 'events:top' %}">
</a>
{% endblock %}
{% block 'head' %}
    <meta property="og:image" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.get_host }}{{ object.image.url }}" />
{% endblock %}
{% block 'main_content' %}
    <arcticle class="itemPage">
        <header class="itemPage__header">
            <h1 class="itemPage__header__text">{{ object.title }}</h1>
        </header>
        <time class="itemPage__date">
            {{ object.date|date:"M j Y" }}
        </time>
        <figure class="itemPage__desc">
            <figcaption class="itemPage__shortDesc">
                {{ object.short_desc }}
            </figcaption>
            <img class="itemPage__image" src="{{ object.image.url }}"/>
        </figure>
        <section class="itemPage__content">
            {{ object.desc|safe }}
        </section>
    </article>
    {% with url=request.build_absolute_uri %}
    <menu class="socialList">
        <a
            class="socialList__item vk"
            href="http://vk.com/share.php?url={{ url }}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Vk
        </a>
        <a 
            class="socialList__item fb"
            href="http://www.facebook.com/share.php?u={{ url }}&title={{ object.title|urlencode }}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Fb
        </a>
        <a 
            class="socialList__item tw"
            href="http://twitter.com/intent/tweet?status={{ object.title|urlencode }}+{{ url}}"
            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            Tw
        </a>
    </menu>
    {% endwith %}
    {% with object=object.get_next_by_date %}
    {% if object %}
    <article class="nextBlock">
        <header class="nextBlock__header">
            Следующие новости
        </header>
        <section class="nextBlock__item">
            {% include 'events/inc/itemPreview.html' %}
        </section>
        {% with object=object.get_next_by_date %}
            {% if object %}
            <section class="nextBlock__item">
                {% include 'events/inc/itemPreview.html' %}
            </section>
            {% endif %}
        {% endwith %}
    </article>
    {% endif %}
    {% endwith %}
    {% include 'events/inc/baseFooter.html' with static=True %}
{% endblock %}
{% block footer %}
{% endblock %}
