{% extends 'mesto/base.html' %}
{% block 'content' %}
    <section class="itemsListAll">
        <menu class="itemsListAll__menu mainMenu list">
            <a 
                class="mainMenu__item  fadeAnimator__ancor"
                href="{% url 'main' %}">
                {% include 'mesto/inc/menu.svg' %}
            </a>
            <a 
                class="mainMenu__item back fadeAnimator__ancor"
                href="{% url request.resolver_match.namespace|add:":top" %}">
            </a>
        </menu>
        <article class="itemsListAll__list">
        {% for object in object_list %}
            <a 
                class="itemsListAll__item fadeAnimator__ancor"
                style="background-image: url('{{ object.image.url }}')"
                href="{% url request.resolver_match.namespace|add:":detail" slug=object.slug %}">
                <section class="itemsListAll__text">
                    <header class="itemsListAll__header">{{ object.title }}</header>
                    <p class="itemsListAll__desc">{{ object.short_desc }}</p>
                </section>
                <time class="itemsListAll__date">
                    {{ object.date|date:"M j Y" }}
                </time>
                <img 
                    class="itemsListAll__img"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
            </a>
        {% endfor %}
        </article>
        {% if is_paginated %}
        <ul class="pagesList">
            {% if page_obj.has_previous %}
            <a 
                class="preview pagesList__item fadeAnimator__ancor"
                href="{% url request.resolver_match.namespace|add:":all" %}?page={{ page_obj.previous_page_number }}">
                &nbsp;
            </a>
            {% endif %}
            {% for page in paginator.page_range %} 
                {% if page > page_obj.number|add:"-2" and page < page_obj.number|add:"2" %}
                <a 
                    class="pagesList__item fadeAnimator__ancor {% if page_obj.number == page %} active {% endif %}"
                    href="{% url request.resolver_match.namespace|add:":all" %}?page={{ page }}">
                    {{ page }}
                </a>
                {% else %}
                    {% if forloop.first and page_obj.number|add:"-2" >= page %}
                        <a 
                            class="pagesList__item {% if page_obj.number|add:"-2" != page %} first {% endif %} fadeAnimator__ancor {% if page_obj.number == page %} active {% endif %}"
                            href="{% url request.resolver_match.namespace|add:":all" %}?page={{ page }}">
                            {{ page }}
                        </a>
                    {% endif %}
                    {% if forloop.last and page_obj.number|add:"2" <= page %}
                        <a 
                            class="pagesList__item {% if page_obj.number|add:"2" < page %} last{% endif %} fadeAnimator__ancor {% if page_obj.number == page %} active {% endif %}"
                            href="{% url request.resolver_match.namespace|add:":all" %}?page={{ page }}">
                            {{ page }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a 
                class="next pagesList__item fadeAnimator__ancor"
                href="{% url request.resolver_match.namespace|add:":all" %}?page={{ page_obj.next_page_number }}">
                &nbsp;
            </a>
            {% endif %}
        </ul>
        {% endif %}
        <div 
            mesto-feedback-item="feedBackPopUp"
            class="popUpAnimator__content">
            {% include 'mesto/inc/feedBackPopUp.html' with js=True %}
        </div>
        <div class="itemsListAll__footer">
            {% include 'events/inc/baseFooter.html' with select=1 %}
        </div>
    </section>
{% endblock %}
