{% extends 'events/base.html' %}
{% load staticfiles %}
{% block 'main_content' %}
    <div class="sliderJs">
        <div class="sliderJs__next">
        </div>
        <div class="sliderJs__prev">
        </div>
        <ul class="topEventList sliderJs__content">
            {% for event in object_list %}
            <li class="topEventList__slide sliderJs__item">
                <time class="topEventList__date">
                    <span class="topEventList__date__day">{{ event.date|date:"d" }}</span>
                    <span class="topEventList__date__month">/{{ event.date|date:"m" }}</span>
                </time>
                <article class="topEventList__item">
                    <div class="topEventList__wrapper">
                    {% include 'events/inc/itemPreview.html' with object=event %}
                    </div>
                </article>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
