{% extends 'events/base.html' %}
{% load staticfiles %}
{% block 'news_active' %}
{% endblock %}
{% block 'menu_back' %}
{% endblock %}
{% block 'main_content' %}
    <div slider-main class="sliderJs {% block 'slider_class' %} {% endblock %}">
        <div slider-controll="1" class="sliderJs__next">
        </div>
        <div slider-controll="-1" class="sliderJs__prev">
        </div>
        <div class="sliderJs__background left">
        </div>
        <ul 
            slider-content
            dragg-controller
            horizontal-scroll
            class="topEventList sliderJs__content {% block 'topEventsClass' %} {% endblock %}"> {% for event in object_list %}
            <li
                {% block 'sliderItemJs' %} slider-item {% endblock %}
                class="topEventList__slide sliderJs__item">
                <img 
                    class="topEventList__image"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <time class="topEventList__date">
                    <span class="topEventList__date__day">{{ forloop.counter|stringformat:"02d" }}</span>
                    <span class="topEventList__date__month">/{{ object_list|length|stringformat:"02d" }}</span>
                </time>
                <article class="topEventList__item">
                    <div class="topEventList__wrapper">
                        {% block 'injectPreview' %}
                        {% include 'events/inc/itemPreview.html' with object=event modificator='top' %}
                        {% endblock %}
                    </div>
                </article>
            </li>
        {% endfor %}
        </ul>
        <div class="sliderJs__background right">
            <img 
                class="circle"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div slider-counter class="sliderJs__counter topEventList__date">
                <span ng-bind="selectedSlide" class="topEventList__date__day">{{ forloop.counter|stringformat:"02d" }}</span>
                <span class="topEventList__date__month">/{{ object_list|length|stringformat:"02d" }}</span>
        </div>
    </div>
    <div 
        mesto-feedback-item="feedBackPopUp"
        class="popUpAnimator__content">
        {% include 'mesto/inc/feedBackPopUp.html' with js=True %}
    </div>
{% endblock %}
