.sliderJs {
    overflow: hidden;
    @media (min-width: 800px) {
        height: 100%;
        background: #ccdde1;       
    }
    &__twiter {
        display: none;
        @media (min-width: 800px) { 
            display: block;
            height: 250px;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
    }
    &.news {
        @media (min-width: 800px) {
            background: #EBEBEB;
            .sliderJs {
                &__background {
                    &.right {
                        opacity: .9;
                    }
                    &.left:before {
                        background: #EBEBEB;
                    }
                }
            }
        }
    }
    &__counter.topEventList__date {
        display: none;
        @media (min-width: 800px) {
            display: block;   
        }
    }
    &__background {
        @media (max-width: 800px) {
            display: none;
        }
        z-index: 1;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0px;
        &.left {
            background: #fff;
            width: 60%;
            top: 0px;
            left: 0px;
            overflow: hidden;
            &:after, &:before {
                content: '';
                position: absolute;
            }
            &:before {
                left: 150px;
                top: -300px;
                width: 12%;
                height: 125%;
                background: #ccdde1;
                transform: skew(22deg, -65deg);
            }
        }
        &.moreleftOverflow, &.leftOverflow  { 
            position: absolute;
            top: 0px;
            left: 0px;
            width: 60%;
            height: 100%;
            overflow: hidden;
            &:after, &:before {
                content: '';
                position: absolute;
            }
        }
        &.moreleftOverflow {
            width: 60%;
            clip: rect(0px,120px,2000px,0px);
            &:before {
                left: 150px;
                top: -299px;
                width: 12%;
                height: 125%;
                transform: skew(22deg, -65deg) scale(1, 1);
                background: rgba(255,255,255, .95);
                .sliderJs.events & { 
                    background: rgba(255,255,255, 1);
                }
            }
        }
        &.leftOverflow {
            &:after {
                left: 150px;
                top: -300px;
                width: 12%;
                height: 125%;
                transform: skew(22deg, -65deg) scale(1, 1.9);
                box-shadow: -1040px  1000px 0px 1000px rgba(255, 255, 255,.95);
                .sliderJs.events & { 
                    box-shadow: -1040px  1000px 0px 1000px rgba(255, 255, 255, 1);
                }
            }
        }
        &.right {
            width: 30%;
            left: 70%;
            overflow: hidden;
            pointer-events: all;
            .circle {
                position: absolute;
                border-radius: 50%;
                height: 70%;
                left: 50%;
                bottom: 3%;
                background: transparent;
                box-shadow: 0px  0px 0px 1000px rgba(255, 255, 255,.95);
                .sliderJs.events & { 
                    box-shadow: 0px  0px 0px 1000px rgba(255, 255, 255, 1);
                }
            }
        }
    }
    &__prev, &__next {
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        opacity: .5;
        z-index: 2;
        transform: scale(1, 1.5) rotate(45deg);
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: '';
            position: absolute;
            width: 200%;
            height: 200%;
            transform: translateY(-50%) translateX(-10px);
        }
        @media (min-width: 800px) {
            .sliderJs.events & {
                display: none;

            }
        }
        .sliderJs.news & {
            @media (min-width: 800px) {
                width: 20px;
                height: 20px;
                opacity: 1;
            }
        }
    }
    &__prev {
        left: 10px;
        border-left: 2px solid var(--nearBlack);
        border-bottom: 2px solid var(--nearBlack);
        .sliderJs.news & { 
            @media (min-width: 800px) {
                left: 25px;
            }
        }
    }
    &__next {
        right: 10px;
        border-right: 2px solid var(--nearBlack);
        border-top: 2px solid var(--nearBlack);
        &:after {
            top: 10px;
            left: 0px;
        }
        .sliderJs.news & { 
            @media (min-width: 800px) {
                right: 25px;
                border-color: #fff;
            }
        }
    }
    &__slide {
        display: inline-block;
        vertical-align: top;
    }
}
