.socialList {
    --vkColor: #48729E; 
    --fbColor: #4C7CFF; 
    --twColor: #01ACED; 

    text-align: center;
    margin: 50px;
    @media (min-width: 800px) {
        margin: 50px auto;
        text-align: left;
        width: 70%;
    }
    &__item {
        text-align: center;
        text-decoration: none;
        color: var(--white);
        display: inline-block;
        padding: 10px;
        border-radius: 100%;
        font: 14px hcyrregular;
        width: 20px;
        height: 20px;
        margin: 0px 5px;
        &.vk {
            background: var(--vkColor);
        }
        &.fb {
            background: var(--fbColor);
        }
        &.tw {
            background: var(--twColor);
        }
        .showDetailPage__social & {
            @media (min-width: 800px) {
                display: block;
                margin: 20px 0px;
            }
        }
    }
}
