.baseFooter {
    position: absolute;
    &.static {
        position: static;
        margin: 20px 0px;
    }
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: justify;
    &__item, &:after {
        display: inline-block;
    }
    &:after {
        content: '';
        width: 100%;
    }
    &__item {
        inherit: %item;
        display: inline-block;
        opacity: 1;
    }
}

