.baseFooter {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: justify;
    @media (min-width: 800px) {
        bottom: 40px;
        left: 40px;
        right: 40px;
        text-align: left;
    }
    &.detail {
        position: static;
        padding: 20px 0px 0px;
        margin-bottom: -15px;
        @media (min-width: 800px) {
            display: inline-block;
            position: fixed;
            margin: 0px;
            right: 40px;
            left: auto;
            text-align: right;
            padding: 0px;
            .baseFooter__item{
                margin: 0px;
                & + .baseFooter__item {
                    margin-left: 20px;
                }
                opacity: .5;
                color: #000;
                &.active,
                &:hover {
                    color: #000;
                    opacity: 1;
                }
            }
        }
    }
    &__item, &:after {
        display: inline-block;
    }
    &:after {
        content: '';
        width: 100%;
    }
    &__item {
        inherit: %item;
        display: inline-block;
        opacity: 1;
        transition: color .5s, opacity .5s;
        @media (min-width: 800px) {
            margin-right: 20px;
            opacity: .5;
            color: #ccdde1;
            &.active,
            &:hover {
                color: #000;
                opacity: 1;
            }
        }
        &.active {
            opacity: .5;
        }
    }
}

