%item {
    font: 14px Arial;
    text-decoration: none;
    color: var(--black);
    opacity: .3;
}
.baseEvents {
    --padding: 17px;
    height: 100%;
    &__mainMenu {
        position: absolute;
        top: 17px;
        left: 17px;
        img {
            width: 25px;
        }
    }
    box-sizing: border-box;
    padding: var(--padding);
    padding-bottom: 40px;
    position: relative;
    &__header {
        text-align: center;
        &__img {
            width: 30%;
        }
    }
    &__menu {
        white-space: nowrap;
        position: absolute;
        transform-origin: bottom left;
        top: 20px;
        left: 100%;
        transform: translate(-30px, -100%) rotate(90deg);
        &__item {
            inherit: %item;
            margin-right    : 10px;
            &.active {
                opacity: 1;
            }
        }
    }
}
