.feedBackPopUp {
    --padding: 17px;
    --buttonColor: #B8C9CC; 
    --invalidColor: #EF3737; 

    min-height: 100%;
    box-sizing: border-box;
    padding: var(--padding);
    position: relative;
    @media (min-width: 800px) {
        width: 60%;
        min-height: auto;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0px;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 10px 10px 70px 0px rgba(204, 221, 225, .7);
        .baseFooter {
            display: none;
        }
    }
    &__header {
        text-align: center;
        font: 30px 'anglecia_pro_titleregular';
        margin: 30px 0px;
        &.center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: -17px 0px;
            @media (min-width: 800px) {
                margin: 30px 20px;
            }
        }
        &__text {
            display: flex;
            justify-content: center;
        }
        &__img {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
            @media (min-width: 800px) {
                display: none;
            }
        }
    }
    &__form {
        padding: 20px 0px;
        @media (min-width: 800px) {
            padding: 0px;
        }
        input, textarea {
          font: 15px hcyrregular;
          opacity: .3;
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
             font: 15px hcyrregular;
             color: var(--darkColor); 
          }
        }
    }
    &__inputs {
        @media (min-width: 800px) {
            margin: 0px 50px 40px;
        }
    }
    &__text, &__button {
        width: 100%;
        display: block;
        background: var(--grayBlue);
        box-sizing: border-box;
        border: 2px solid var(--grayBlue);
        margin: 10px 0px;
        border-radius: 3px;
        color: var(--darkColor);
        padding: 13px; 
    }
    &__button {
        background: var(--buttonColor);
        font: 20px hcyrregular;
        color: #fff;
        border: 0;
        padding: 17px;
        @media (min-width: 800px) {
            margin: 0px;
            border-radius: 0px
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__text {
        &.error,
        .ng-submitted &.ng-invalid,
        &.ng-invalid.ng-touched {
            background: var(--invalidColor);
            &::placeholder {
                color: #fff;
            }
        }
        &:focus {
            opacity: 1;
            background: var(--white);
            outline: 0;
        }
    }
}
