.feedBackPopUp {
    --padding: 17px;
    --buttonColor: #B8C9CC; 
    --invalidColor: #EF3737; 

    min-height: 100%;
    box-sizing: border-box;
    padding: var(--padding);
    position: relative;
    &__header {
        text-align: center;
        font: 30px 'anglecia_pro_titleregular';
        margin: 30px 0px;
        &.center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: -17px 0px;
        }
        &__text {
            display: flex;
            justify-content: center;
        }
        &__img {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
        }
    }
    &__form {
        padding: 20px 0px;

        input, textarea {
          font: 15px hcyrregular;
          opacity: .3;
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
             font: 15px hcyrregular;
             color: var(--darkColor); 
          }
        }
    }
    &__text, &__button {
        width: 100%;
        display: block;
        background: var(--grayBlue);
        box-sizing: border-box;
        border: 2px solid var(--grayBlue);
        margin: 10px 0px;
        border-radius: 3px;
        color: var(--darkColor);
        padding: 13px; 
    }
    &__button {
        background: var(--buttonColor);
        font: 20px hcyrregular;
        color: #fff;
        border: 0;
        padding: 17px;
        
        &:hover {
            cursor: pointer;
        }
    }
    &__text {
        &.error,
        .ng-submitted &.ng-invalid,
        &.ng-invalid.ng-touched {
            background: var(--invalidColor);
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
                color: var(--white);
            }
        }
        &:focus {
            opacity: 1;
            background: var(--white);
            outline: 0;
        }
    }
}
