.itemPage {
    display: block;
    box-sizing: border-box;
    &__header {
        margin: 50px 0px 20px;
        font: 25px/100% 'anglecia_pro_titleregular';
    }
    &__date {
        color: #CCDDE1;
        margin: 20px 0px;
        display: block;
        font: 13px hcyrregular;
    }
    &__image {
        width: 100%;
        margin: 20px 0px;
    }
    &__desc, &__content {
        font: 15px anglecia_pro_titleregular;
    }
     &__content {
         p {
             margin: 10px 0px;
         }
         a {
             position: relative;
             text-decoration: line-through;
         }
         em, a {
             font-family: anglecia_pro_titleitalic;
         }
         a {
            color: inherit; 
         }
     }
}
