.itemPreview {
    color: var(--darkColor);
    text-decoration: none;
    display: inline-block;
    user-select: none;
    &__content {
        font: 15px 'anglecia_pro_titleregular';
    }
    &__header {
        text-align: left;
        font: 25px/23px 'anglecia_pro_titleregular';
        margin: 15px 0px;
    }
    &__figure {
        text-align: center;
    }
    &__image {
        width: 100%;
    }
}
