.itemPreview {
    color: var(--darkColor);
    text-decoration: none;
    display: inline-block;
    user-select: none;
    &__emptyImage {
        display: none;
    }
    &.events {
        @media (min-width: 800px) {
            width: 100%;
            .itemPreview {
                &__header {
                    text-align: center;
                }
                &__content {
                    display: none;
                }
                &__image {
                    display: none;
                }
                &__blockImage {
                    height: 360px;
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }
        }
    }
    &.news {
        @media (min-width: 800px) {
            width: 100%;
            .itemPreview {
                &__header {
                    text-align: center;
                    margin: 0px;
                    padding: 15px 0px;
                    color: #fff;
                }
                &__content {
                    color: #fff;
                }
                &__image {
                    display: none;
                }
                &__figure {
                    overflow: hidden;
                    &:after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: rgba(0,0,0, .7);
                        top: 0px;
                        left: 0px;
                    }   
                }
                &__wrapper {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column; 
                    box-sizing: border-box;
                    padding: 30px;
                }
                &__emptyImage {
                    display: inline-block;
                    width: 100%;
                }
                &__blockImage {
                    position: absolute;
                    width: 100%;
                    top: 0px;
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }
        }
    }
    &.top {
        @media (min-width: 800px) {
            .itemPreview {
                &__image {
                    width: 70%;
                    margin-top: -200px;
                    transform: translateX(calc(50% - 30px));
                }
                &__wrapper {
                    position: absolute;
                    top: calc(50% - 110px);
                    transform: translateY(-50%);
                    z-index: 1;
                    left: 0px;
                    right: 0px;
                }
                &__content {
                    width: calc(50% - 30px);
                }
                &__header {
                    font: 59px/110% 'anglecia_pro_titleregular';
                    margin-bottom: 50px;
                    width: 80%;
                }
            }
        }
    }
    &__content {
        user-select: all;
        font: 15px 'anglecia_pro_titleregular';
        text-align: left;
    }
    &__header {
        text-align: left;
        font: 25px/23px 'anglecia_pro_titleregular';
        margin: 15px 0px;
    }
    &__figure {
        text-align: center;
    }
    &__image {
        width: 100%;
    }
}
