.itemsListAll {
    --darkBackgroundColor: rgba(44,45,51,.8); 
    --headerColor: #808185;

    box-sizing: border-box;
    height: 100%;
    display: flex;
    @media (min-width: 800px) {
        align-items: center;
    }
    &__menu {
        margin-top: 10px;
    }
    &__footer {
        display: none;
        @media (min-width: 800px) {
            display: block;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        @media (min-width: 800px) {
            height: auto;
            flex-direction: row;
        }
    }
    &__img {
        display: none;
        @media (min-width: 800px) {
            display: inline-block;
            width: 100%;
        }
    }
    &__text {
        @media (min-width: 800px) {
            display: block;
            height: auto;
            position: absolute;
            top: 50%;
            left: 0px;
            padding: 0px 40px;
            transform: translateY(-50%)
            width: 100%;
        }
    }
    &__date{
        display: none;
        @media (min-width: 800px) {
            display: block;
            position: absolute;
            bottom: 40px;
            color: #fff;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }
    &__text, &__date {
        position: relative;
        z-index: 1;
    }
    &__desc {
        display: none;
        @media (min-width: 800px) {
            display: block;
            color: #fff;
            text-align: center;
        }
    }
    &__item {
        display: flex;
        height: 33.3333333%;
        width: 100%;
        overflow: hidden;
        background: no-repeat 50% 50%;
        background-size: cover;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        flex-direction: column;
        position: relative;
        @media (min-width: 800px) {
            height: auto;
            width: 33.3333333%;
        }
        &:nth-child(1) {
            @media (min-width: 800px) {
                &:before {
                    content: '';
                    z-index: 2;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    bottom: 20px;
                    right: 20px;
                    border: 3px solid #fff;
                }
            }
        }
        &:nth-child(2) {
            background: var(--white);
            &:after {
                background: var(--grayBlue);
            }
            .itemsListAll__header {
                color: var(--darkColor);
            }
            @media (min-width: 800px) {
                .itemsListAll {
                    &__desc, &__date {
                        color: #2C2D33;
                    }
                }
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--darkBackgroundColor);
        }

    }    
    &__header {
        text-align: center;
        font: 25px anglecia_pro_titleregular;
        position: relative;
        z-index: 1;
        color: var(--headerColor);
        @media (min-width: 800px) {
            color: #fff;
            margin-bottom: 20px;
        }
    }
}
