.itemPreview {
    color: var(--darkColor);
    text-decoration: none;
    display: inline-block;
    user-select: none;
    &.top {
        @media (min-width: 800px) {
            .itemPreview {
                &__image {
                    width: 70%;
                    margin-top: -200px;
                    transform: translateX(calc(50% - 30px));
                }
                &__wrapper {
                    position: absolute;
                    top: calc(50% - 110px);
                    transform: translateY(-50%);
                    z-index: 1;
                    left: 0px;
                    right: 0px;
                }
                &__content {
                    width: calc(50% - 30px);
                }
                &__header {
                    font: 59px/110% 'anglecia_pro_titleregular';
                    margin-bottom: 50px;
                }
            }
        }
    }
    &__content {
        user-select: all;
        font: 15px 'anglecia_pro_titleregular';
        text-align: left;
    }
    &__header {
        text-align: left;
        font: 25px/23px 'anglecia_pro_titleregular';
        margin: 15px 0px;
    }
    &__figure {
        text-align: center;
    }
    &__image {
        width: 100%;
    }
}
