.itemsListAll {
    --darkBackgroundColor: rgba(44,45,51,.8); 
    --headerColor: #808185;

    box-sizing: border-box;
    height: 100%;
    display: flex;
    .mainMenu {
        margin-top: 10px;
        
    }
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__item {
        display: flex;
        height: 100%;
        width: 100%;
        background: no-repeat 50% 50%;
        background-size: cover;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
        &:nth-child(2) {
            background: var(--white);
            &:after {
                background: var(--grayBlue);
            }
            .itemsListAll__header {
                color: var(--darkColor);
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--darkBackgroundColor);
        }

    }    
    &__header {
        text-align: center;
        font: 25px anglecia_pro_titleregular;
        position: relative;
        z-index: 1;
        color: var(--headerColor);
    }
}
