@import 'reset.css';
@import 'fonts.css';
@import 'colors.css';
@import 'baseEvents.css';
@import 'feedBackPopUp.css';
@import 'baseFooter.css';
@import 'topEventList.css';
@import 'sliderJs.css';
@import 'itemPage.css';
@import 'itemPreview.css';
@import 'nextBlock.css';
@import 'socialList.css';
@import 'mainMenu.css';
@import 'itemsListAll.css';
@import 'pagesList.css';

body, html {
    width: 100%;
    height: 100%;    
}
.mainPage {
    background: url('../img/main_bg.png');
    text-align: center;
    &__wrapper, &:after {
        display: inline-block;
        vertical-align: middle;
    }
    &__svg {
        width: 233px;
    }
    &__nav {
      margin-top: 70px;  
    }
    &__item {
        margin: 15px 0px;
        display: block;
        text-decoration: none;
        color: var(--black);
        font: 25px/100% hcyrregular;
        &.disabled {
            opacity: 0.2;
        }
    }
    
    &:after {
        content: '';
        height: 100%;
    }
    height: 100%;
}
