@import 'reset.css';
@import 'fonts.css';
@import 'colors.css';
@import 'mixins.css';

@import 'feedBackPopUp.css';
@import 'mainPage.css';
@import 'baseEvents.css';
@import 'baseFooter.css';
@import 'topEventList.css';
@import 'sliderJs.css';
@import 'itemPage.css';
@import 'itemPreview.css';
@import 'nextBlock.css';
@import 'socialList.css';
@import 'mainMenu.css';
@import 'itemsListAll.css';
@import 'pagesList.css';
@import 'popUpAnimator.css';
@import 'fadeAnimator.css';
@import 'svgLogo.css';

@import 'movieMain.css';
@import 'movieFooter.css';

body, html {
    width: 100%;
    height: 100%;
    a {
        -webkit-tap-highlight-color: transparent;
    }
}
