@import 'reset.css';
@import 'fonts.css';
@import 'colors.css';
@import 'mixins.css';

@import 'popUpAnimator.css';
@import 'fadeAnimator.css';
@import 'svgLogo.css';

@import 'events/feedBackPopUp.css';
@import 'events/mainPage.css';
@import 'events/baseEvents.css';
@import 'events/baseFooter.css';
@import 'events/topEventList.css';
@import 'events/sliderJs.css';
@import 'events/itemPage.css';
@import 'events/itemPreview.css';
@import 'events/nextBlock.css';
@import 'events/socialList.css';
@import 'events/mainMenu.css';
@import 'events/itemsListAll.css';
@import 'events/pagesList.css';

@import 'movie/movieMain.css';
@import 'movie/movieFooter.css';
@import 'movie/sliderJsMovie.css';
@import 'movie/showSlide.css';
@import 'movie/calendarPage.css';
@import 'movie/movieMobileMenu.css';
@import 'movie/customSelect.css';


body, html {
    width: 100%;
    height: 100%;
    a {
        -webkit-tap-highlight-color: transparent;
    }
}
