.mainMenu {
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 17px;
    @media (min-width: 800px) {
        top: 40px;
        left: 40px;
        position: fixed;
    }
    &.right {
        right: 0px;
        left: auto;
    }
    &.bottom {
        top: auto;
        bottom: 43px;
        @media (max-width: 800px) {
            display: none;
        } 
    }
    white-space: nowrap;
    &__svg {
        width: 32px;
    }
    &.white {
         .mainMenu__svg {
            rect {
                fill: var(--white);
            }
         }
         .mainMenu__item {
              &.back:after {
                  border-left: 1px solid var(--white);
                  border-top: 1px solid var(--white);
              }
         }  
    }
    &__item {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 15px;
        &:before {
            content: '';
            width: 120%;
            height: 120%;
            min-height: 20px;
            min-width: 20px;
            position: absolute;
        }
        &.detail {
            @media (min-width: 800px) {
                display: none;
            }
        }
        &.back {
            color: var(--nearBlack);
            padding-left: 10px;
            font: 12px hcyrregular;
            &:after {
                content: '';
                position: absolute;
                transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
                width: 10px;
                height: 10px;
                border-left: 1px solid var(--nearBlack);
                border-top: 1px solid var(--nearBlack);
                top: 50%;
                left: -10px;
            }
        }
        img {
            width: 25px;
        }
    }
}
