.popUpAnimator {
    overflow-y: auto;
    &.fixedPopUp {
        overflow: hidden;
        .popUpAnimator__wrapper {
            z-index: 2;
        }
    }
    &__content {
        background: var(--white);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 10;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(100%);
        transition: transform .5s ease, opacity 0s ease .5s, height 0s ease .5s;
        &.active {
            opacity: 1;
            transition: transform .5s ease-in-out;
            transform: translateY(0%);
            height: 100%;
            position: fixed;
        }
    }
}
