.popUpAnimator {
    overflow-y: auto;
    &.fixedPopUp {
        overflow: hidden;
    }
    &__content {
        background: var(--white);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 3;
        height: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform .5s ease, height 0s ease .5s;
        &.active {
            transition: transform .5s ease-in-out;
            transform: translateY(0%);
            height: 100%;
            position: fixed;
        }
    }
}
