.sliderJs {
    overflow: hidden;
    &__prev, &__next {
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        opacity: .5;
        z-index: 2;
        transform: scale(1, 1.5) rotate(45deg);
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            transform: translateY(-50%) translateX(-10px);
        }
    }
    &__prev {
        left: 10px;
        border-left: 2px solid #252324;
        border-bottom: 2px solid #252324;
    }
    &__next {
        right: 10px;
        border-right: 2px solid #252324;
        border-top: 2px solid #252324;
        &:after {
            top: 10px;
            left: 0px;
        }
    }
    &__slide {
        display: inline-block;
        vertical-align: top;
    }
}
