.sliderJs {
    overflow: hidden;
    &__background {
        @media (max-width: 800px) {
            display: none;
        }
        z-index: 1;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 20px;
        &.left {
            background: #fff;
            width: calc(60%);
            overflow: hidden;
            &:after, &:before {
                content: '';
                position: absolute;
            }
            &:before {
                left: 150px;
                top: -300px;
                width: 12%;
                height: 125%;
                background: #ccdde1;
                transform:  skew(22deg, -65deg);
            }
            &:after {
                background: #fff;
                height: 100%;
                width: 110px;
            }
        }
        &.right {
            width: 30%;
            left: 70%;
            overflow: hidden;
            pointer-events: all;
            .circle {
                position: absolute;
                border-radius: 50%;
                height: 70%;
                left: 50%;
                bottom: 3%;
                background: transparent;
                box-shadow: 0px  0px 0px 1000px #fff;
            }
        }
    }
    &__prev, &__next {
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        opacity: .5;
        z-index: 2;
        transform: scale(1, 1.5) rotate(45deg);
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            transform: translateY(-50%) translateX(-10px);
        }
    }
    &__prev {
        left: 10px;
        border-left: 2px solid var(--nearBlack);
        border-bottom: 2px solid var(--nearBlack);
    }
    &__next {
        right: 10px;
        border-right: 2px solid var(--nearBlack);
        border-top: 2px solid var(--nearBlack);
        &:after {
            top: 10px;
            left: 0px;
        }
    }
    &__slide {
        display: inline-block;
        vertical-align: top;
    }
}
