.svgLogo {
    &__rect {
        opacity: 0;
        transition: opacity 1s;
        fill: var(--white);
    }
    &__small {
        font-size: 5px;
    }
    &__item {
        text {
            font: 12px/100% hcyrregular;
            fill: #fff;
            opacity: 0;
            transition: opacity 1s;
        }
        &:hover {
            cursor: pointer;
            text {
                opacity: 1;
            }
            .svgLogo__rect {
               opacity: 1;
            } 
        }
    }
}
