.topEventList {
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    &__date {
        position: absolute;
        bottom: 10px;
        left: 50%;
        opacity: .3;
        transform: translateX(-50%);
        font: 53px/100% 'anglecia_pro_titleregular';
        display: block;
        color: #CCDDE1;
        &__day, &__month {
            display: inline-block;
            vertical-align: top;
        }
        &__day {
            font: 160px/74% 'anglecia_pro_titleregular';
        }
    }
    &__slide {
        overflow: hidden;
        box-sizing: border-box;
        padding-top: 60px;
        margin-top: -27px;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
    }
    &__item {
        position: relative;
        z-index: 1;
        display: block;
        white-space: normal;
        box-sizing: border-box;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__wrapper {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}
