.topEventList {
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    box-sizing: border-box;
    &__date {
        position: absolute;
        bottom: 10px;
        left: 50%;
        opacity: .3;
        transform: translateX(-50%);
        font: 53px/100% 'anglecia_pro_titleregular';
        display: block;
        color: #CCDDE1;
        &__day, &__month {
            display: inline-block;
            vertical-align: top;
        }
        &__day {
            font: 160px/74% 'anglecia_pro_titleregular';
        }
    }
    &__slide {
        overflow-y: hidden;
        box-sizing: border-box;
        padding-top: 60px;
        margin-top: -27px;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
    }
    &__item {
        position: relative;
        z-index: 1;
        display: block;
        white-space: normal;
        padding: 0 auto;
        box-sizing: border-box;
        height: 100%;
        overflow-y: auto;

    }
    &__wrapper {
        width: 70%;
        color: inherit;
        text-decoration: none;
        display: block;
        margin: 0 auto;
    }
    &__header {
        text-align: left;
        font: 25px/23px 'anglecia_pro_titleregular';
        margin: 15px 0px;
    }
    &__content {
        font: 15px 'anglecia_pro_titleregular';
    }
    &__figure {
        text-align: center;
    }
    &__image {
        width: 100%;
    }
}
