<menu class="baseFooter {% if static %} static {% endif %}">
    <a 
        class="fadeAnimator__ancor {% if select == 1  %} active {% endif %}baseFooter__item"
        href="{% url request.resolver_match.namespace|default:"events"|add:":all" %}">
        {{ all_items_title|default:"Все события" }}
    </a>
    <a 
        target="_blank"
        class="fadeAnimator__ancor {% if select == 2  %} active {% endif %}baseFooter__item"
        href='{{ settings.URL_INSTAGRAM|default:"https://instagram.com/grissli_rus/" }}'>
        Instagram
    </a>
    <a 
        class="{% if select == 3  %} active {% endif %}baseFooter__item"
        mesto-feedback-toggle="feedBackPopUp"
        href="{% url 'feedback' %}">
        Написать нам
    </a>
</menu>
