<a 
    href="{% url request.resolver_match.namespace|add:":detail" slug=object.slug %}"
    class="topEventList__content itemPreview fadeAnimator__ancor {{ modificator }}">
    <figure class="itemPreview__figure">
        <img class="itemPreview__image" src="{{ object.image.url }}"/>
        <div class="itemPreview__blockImage" style="background-image: url({{ object.image.url }})">
            <img 
                class="itemPreview__emptyImage"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="itemPreview__date">
            {{ object.date|date:"M j Y" }}
        </div>
        <figcaption class="itemPreview__wrapper">
            <header class="itemPreview__header">{{ object.title }}</header>
            <section class="itemPreview__content">
                {{ object.short_desc }}
            </section>
        </figcaption>
    </figure>
</a>
