.callTheSaul {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    right: 0px;
    background: rgba(0,0,0,.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font: 20px hcyrregular;
    transform: translate(-100%);
    opacity: 0;
    transition: opacity .5s, transform 0s .5s;
    @media (min-width: 800px) {
        font-size: 73px;
    }
    &.active {
        opacity: 1;
        transition: opacity .5s, transform 0s .0s;
        transform: translate(0%);
    }
    &__info {

    }
    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        svg {
            width: 20px;
            height: 20px;
            rect {
                fill: #fff;
            }
        }
    }
}
