.movieMain {
    background: #10131E;
    height: 100%;
    &__back {
        border-top: 1px solid  #2BF4A7;
        border-left: 1px solid  #2BF4A7;
        width: 15px;
        margin-top: 4px;
        height: 15px;
        transform: rotate(-45deg);
    }
    &__menu {
        rect {
            fill: #D52FAD;
            &:nth-child(2) {
                fill: #2BF4A7;
            }
        }
    }
    &__dots {
        z-index: 1;
        position: absolute;
        right: 20px;
        top: -10px;
        width: 40px;
        height: 70px;
        &:after {
            content: '...';
            color: #CCDDE1;
            font-size: 50px;

        }
    }
    &__header {
        position: absolute;
        top: 13px;
        width: 126px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        &__img {
            width: 100%;

        }
        @media (min-width: 800px) {
            top: 33px;
            z-index: 1;
        }
    }
    &__subheader {
        color: #2bf4a7;
        font: 12px hcyrregular;
        position: absolute;
        right: 0px;
    }
}
