.showSlide {
    font: 15px hcyrregular;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    @media (min-width: 800px) {
        padding: 0;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }
    &__top, &__bottom {
        display: none;
        @media (min-width: 800px) {
            display: block;
            flex-basis: 50%;
            height: 100%;
            flex-shrink: 2;
        }
    }
    &__bottom {
        background: #fff;
        width: 70%;
        margin: 0 auto;
        color: #000;
        box-sizing: border-box;
        padding: 20px;
        font-size: 18px;
        visibility: hidden;
        .sliderJsMovie__item.active & {
            visibility: visible
        }
    }
    &__titleBlock {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        z-index: 1;
        bottom: 0;
        box-sizing: border-box;
        padding: 20px 0px 0px;
        display: flex;
        flex-direction: column;
        @media (min-width: 800px) {
            position: relative;
            z-index: 9999999;
            top: 0;
            left: 0px;
            right: 0px;
            padding: 0px;
        }
    }
    &__titleWraper {
        &:first-child {
            flex-basis: 70%;
            @media (min-width: 800px) {
                display: flex;
                flex-direction: column;
                padding: 40px;
                z-index: 1;
            }
        }
        flex-basis: 100%;
        @media (min-width: 800px) {
            position: absolute;
            z-index:1;
            display: none;
        }
    }
    &__video {
        position: absolute;
        left: 0px;
        right: 0;
        top: 0px;
        width: 100%;
        height: 100%;
        border: 0;
        bottom: 0px;
        opacity: 0;
        transition: .5s opacity;
        .sliderJsMovie__item.active & {
            display: block;
        }
        @media (min-width: 800px) {
            z-index:1;
            display: none;
        }
        .showSlide__header.active & {
            opacity: 1;
        }
    }
    &__smallDesc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (min-width: 800px) {
            position: absolute;
            
        }
    }
    &__subheader {
        float: right;
        @media (min-width: 800px) {
            float: none;
            order: 1;
        }
    }
    &__button {
        color: #2BF4A7;
        text-decoration: none;
        padding: 15px 35px;
        border: 2px solid #2BF4A7;
        border-radius: 40px;
        font: 15px HarmoniaSansProCyr-SemiBd;
    }
    &__todetail {
        text-decoration: none;
        color: #fff;
        position: relative;
        font: 14px HarmoniaSansProCyr-SemiBd;
        margin-top: 12px;
        &:after {
            content: '';
            height: 1px;
            background: #fff;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
        }
    }
    &__title {
        box-sizing: border-box;
        color: #2BF4A7;
        font: 20px/20px HarmoniaSansProCyr-Bold;
        text-decoration: none;
        @media (min-width: 800px) {
            font: 25px/25px HarmoniaSansProCyr-Bold;
        }
    }
    &__original_title {
        @media (min-width: 800px) {
            font: 20px hcyrregular;
        }
    }
    &__play {
        position: absolute;
        width: 30px;
        top: 50%;
        left: 50%;
        height: 29px;
        transform: translate(-50%, -50%);
        &:before {
            width: 90px;
            height: 90px;
            content: '';
            position: absolute;
            background: rgba(0,0,0,.5);
            border-radius: 100px;
            border: 3px solid #2BF4A7;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        svg {
            position: relative;
            transform: translate(3px,0px);
        }
        polygon {
            fill: transparent;
            stroke: #2BF4A7;
            stroke-width: 3;
            stroke-linecap:round;
            stroke-linejoin:round;
        }
    }
    &__header {
        position: absolute;
        top: 0px;
        left: 20px; 
        right: 20px;
        background: no-repeat 50% 50%;
        background-size: cover;
        user-select: none;
        @media (min-width: 800px) {
            position: relative;
            left: 0px;
            right: 0px;
        }
        &:after {
            content: '';
            height: 100px;
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 100%);
            position: absolute;
            left: 0px;
            width: 100%;
            top: 0px;
            @media (min-width: 800px) {
                height: 300px;
            }
        }
    }
    &__rating {
        position: absolute;
        top: 0px;
        z-index: 1;
        right: 0px;
        color: #D52FAD;
        font: 32px HarmoniaSansProCyr-Light;
        margin: 10px;
        @media (min-width: 800px) {
            font: 80px/80px HarmoniaSansProCyr-Light;
            margin: 30px 40px;
        }
    }
    &__image {
        height: 50%;
        @media (min-width: 800px) {
            display: none;
        }
    }
    &__bigImage {
        display: none;
        @media (min-width: 800px) {
            display: block;
            height: auto;
            width: 100%;
        }
    }
    &__desc {
        position: absolute;
        bottom: 0;
        display: none;
    }
}
