.sliderJsMovie {
    color: #fff;
    height: 100%;
    padding: 100px 0px 40px;
    box-sizing: border-box;
    position: relative;
    @media (min-width: 800px) {
        padding: 0px;
    }
    &__info {
        display: none;
    }
    &__next, &__prev {
        position: absolute;
        top: 70px;
        width: 30px;
        height: 20px;
        z-index: 1;
        @media (min-width: 800px) {
            top: 50%;
        }
        &:after, &:before {
            content: '';
            position: absolute;
        }
        &:before {
            width: 10px;
            height: 10px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        &:after {
            top: 50%;
            height: 1px;
            background:  #fff;
            width: 100%;
            margin-top: 0.5px;
        }
    }
    &__prev {
        left: 20px;
        @media (min-width: 800px) {
            left: 40px;
        }
        &:before {
            transform: translateY(50%) rotate(45deg);
            border-color: #2BF4A7;
        }
        &:after {
            background-color: #2BF4A7;
        }
    }
    &__next {
        right: 20px;
        @media (min-width: 800px) {
            right: 40px;
        }
        &:before {
            right: 0px;
            transform: translateY(50%) rotate(-135deg);
            border-color: #D52FAD;
        }
        &:after {
            background-color: #D52FAD;
        }
    }
    &__content {
        position: absolute;
        top: 100px;
        bottom: 50px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        @media (min-width: 800px) {
            bottom: 0px;
            top: 0px;
            &:after,  &:before {
                content: '';
                width: 15%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__item {
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;
        white-space: normal;
        @media (min-width: 800px) {
            width: 70%;
            height: auto;
            vertical-align: middle;
            position: static;
        }
    }
}
