.sliderJsMovie {
    color: #fff;
    height: 100%;
    padding: 100px 0px 40px;
    box-sizing: border-box;
    position: relative;
    @media (min-width: 800px) {
        padding: 0px;
        overflow: hidden;
    }
    &__before, &__after {
        position: absolute;
        height: 120%;
        background: linear-gradient(to top, #af5fb3 0%,#dabfb2 27%,#2fe9a8 82%,#6bccad 100%);
        top: 50%;
        left: 50%;
        border-radius: 100%;
        display: none;
        transform: translate(-50%, -50%);
        clip: rect(0px 220px 6000px 0px);
        &__image {
            height: 100%;
        }
        @media (min-width: 800px) {
            display: block;
        }
    }
    &__after {
        
        background: linear-gradient(to bottom, #dc84b0 0%,#f04bab 35%,#00e3ad 82%,#3897b0 100%);
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    &__menu {
        font: 15px hcyrregular;
        display: none;
        position: absolute;
        right:  40px;
        top: 40px;
        text-align: right;
        z-index: 1;
        @media (min-width: 800px) {
            display: block;
        }
        &__item {
            color: #fff;
            display: block;
            text-decoration: none;
            margin: 10px 0px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__info {
        display: none;
    }
    &__next, &__prev {
        position: absolute;
        top: 70px;
        width: 30px;
        height: 20px;
        z-index: 1;
        @media (min-width: 800px) {
            top: 50%;
        }
        &:after, &:before {
            content: '';
            position: absolute;
        }
        &:before {
            width: 10px;
            height: 10px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        &:after {
            top: 50%;
            height: 1px;
            background:  #fff;
            width: 100%;
            margin-top: 0.5px;
        }
    }
    &__prev {
        left: 20px;
        @media (min-width: 800px) {
            left: 40px;
        }
        &:before {
            transform: translateY(50%) rotate(45deg);
            border-color: #2BF4A7;
        }
        &:after {
            background-color: #2BF4A7;
        }
    }
    &__next {
        right: 20px;
        @media (min-width: 800px) {
            right: 40px;
        }
        &:before {
            right: 0px;
            transform: translateY(50%) rotate(-135deg);
            border-color: #D52FAD;
        }
        &:after {
            background-color: #D52FAD;
        }
    }
    &__content {
        position: absolute;
        top: 100px;
        bottom: 50px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        @media (min-width: 800px) {
            bottom: 0px;
            top: 0px;
            font-size: 0;
            &:after,  &:before {
                content: '';
                width: 20%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__item {
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;
        white-space: normal;
        @media (min-width: 800px) {
            width: 60%;
            height: auto;
            vertical-align: middle;
            position: static;
        }
    }
}
