.whiteMovieBlock {
    background: #fff;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
    color: #10131E;
    padding: 20px;
    font: 18px hcyrregular;
    &__header {
        display: block;
        margin: 10px 0px 20px;
    }
    &__subheader {
        margin-top: 20px;
    }
    &__desc {
        color: #9C9B9B;
    }
    &__shortDesc {
        margin-top: 20px;
    }
    &__shortDesc, &__fullDesc {
        font-size: 16px;
    }
    &__select {
        display: block;
        appearance: none;
        border-radius: 30px;
        outline: none;
        background: transparent;
        font-size: 15px;
        width: 100%;
        padding: 15px 30px;
        border: 2px solid #E4E5E9;
    }
    &__more {
        color: #9C9B9B;
        text-decoration: underline;
        display: block;
    }
    &__schedule__header {
        margin: 50px 0px 30px;
        text-align: center;
    }
    &__customSelect  {
        border-color: #E4E5E9;
        color: #000;
        &:after {
            border-color: #E4E5E9;
        }
        &__list {
            background: #fff;
        }
        &__item {
            padding: 10px 0px;
        }
    }
    &__time {
        &View {
            min-height: 200px;
            margin: 20px 0px;
        }
        &Item {
            text-align: center;
            margin: 0px 0px;
            font-size: 56px;
        }
    }
    &__footer {
        text-decoration: none;
        color: #000;
        font: 15px hcyrregular;
        padding-bottom: 10px;
    }
}
