<dl 
    class="customSelect {{ customSelectModifer }}"
    mesto-custom-select="vm.select.genre">
    <dt
        mesto-custom-select-placeholder
        class="customSelect__placeholder"
        alt="0">
        Выберите жанр
    </dt>
    <dd class="customSelect__list">
        <li 
            mesto-custom-select-item
            class="customSelect__item">
            <input
                ng-model="vm.select.genre"
                ng-change="vm.change()"
                type="radio"
                id="genre"
                ng-value=""/>
            <label
                class="customSelect__label"
                for="genre">
                Oчистить жанр
            </label>
        </li>
    {% for genre in genre_list %}
        <li 
            mesto-custom-select-item
            class="customSelect__item">
            <input
                ng-model="vm.select.genre"
                ng-change="vm.change()"
                type="radio"
                id="genre{{ genre.id }}"
                ng-value="{{ genre.id }}"/>
            <label
                class="customSelect__label"
                for="genre{{ genre.id }}">
                {{ genre.title }}
            </label>
        </li>
    {% endfor %}
    </dd>
</dl>
<dl 
    class="customSelect {{ customSelectModifer }}"
    mesto-custom-select="vm.select.year">
    <dt
        mesto-custom-select-placeholder
        class="customSelect__placeholder"
        alt="1">
        Выберите год
    </dt>
    <dd class="customSelect__list">
        <li 
            mesto-custom-select-item
            class="customSelect__item">
            <input
                ng-model="vm.select.year"
                ng-change="vm.change()"
                type="radio"
                id="year"
                ng-value=""/>
            <label
                class="customSelect__label"
                for="year">
                Oчистить год
            </label>
        </li>
        <li 
            mesto-custom-select-item
            class="customSelect__item">
            <input
                ng-model="vm.select.year"
                ng-change="vm.change()"
                type="radio"
                id="year2015"
                ng-value="2015"/>
            <label
                class="customSelect__label"
                for="year2015">
                2015
            </label>
        </li>
    </dd>
</dl>
<dl 
    class="customSelect {{ customSelectModifer }}"
    mesto-custom-select="vm.select.rating">
    <dt
        mesto-custom-select-placeholder
        class="customSelect__placeholder"
        alt="2">
        Выбрать рейтинг
    </dt>
    {% verbatim %}
    <dd class="customSelect__list">
        <li 
            mesto-custom-select-item
            class="customSelect__item">
            <input
                ng-model="vm.select.rating"
                ng-change="vm.change()"
                type="radio"
                id="rating"
                ng-value=""/>
            <label
                class="customSelect__label"
                for="rating">
                Oчистить рейтинг
            </label>
        </li>
        <li 
            mesto-custom-select-item
            ng-repeat="rating in ['5-5.9', '6-6.9', '7-7.9', '8-8.9', '9-10']"
            class="customSelect__item">
            <input
                ng-model="vm.select.rating"
                ng-change="vm.change()"
                type="radio"
                ng-attr-id="{{ 'rating'+rating.split('-')[0] }}"
                ng-value="rating"/>
            <label
                class="customSelect__label"
                ng-bind="rating"
                ng-attr-for="{{ 'rating'+rating.split('-')[0] }}">
            </label>
        </li>
    </dd>
    {% endverbatim %}
</dl>
