<ul
    du-scroll-container="calendarList"
    du-spy-context
    class="movieMobileMenu__list">
    <li class="movieMobileMenu__item">
        <a 
            class="movieMobileMenu__ancor"
            du-smooth-scroll
            du-scrollspy="today"
            href="{% url 'movie:calendar' %}#today">
            Сегодня в кинотеатре
         </a>
    </li>
    <li class="movieMobileMenu__item">
        <a 
            class="movieMobileMenu__ancor"
            du-smooth-scroll
            du-scrollspy="day2"
            href="{% url 'movie:calendar' %}#day2">
            Скоро в кинотеатре
        </a>
    </li>
    <li class="movieMobileMenu__item">
        <a
            class="movieMobileMenu__ancor {% if selected == "catalog" %} active {% endif %}"
            href="{% url 'movie:catalog' %}">
            Каталог фильмов
         </a>
    </li>
    <li class="movieMobileMenu__item">
        <a
            class="movieMobileMenu__ancor {% if selected == "archive" %} active {% endif %}"
            href="{% url 'movie:archive' %}">
            Архив фильмов
         </a>
    </li>
    <li class="movieMobileMenu__item">
        <a
            class="movieMobileMenu__ancor {% if selected == "about" %} active {% endif %}"
            href="{% url 'movie:about' %}">
            О кинотеатре
         </a>
    </li>
</ul>
