<div 
    mesto-feedback-item="mobileFilterMenu"
    ng-controller="showsFilterController as vm"
    class="movieMobileMenu">
    <div mesto-feedback-close="mobileFilterMenu" class="movieMobileMenu__close">
        {% include 'mesto/inc/black_cross.svg' %}
    </div>
    <div class="movieMobileMenu__list short">
        {% include 'movie/inc/filter_list.html' %}
        <div ng-click="vm.search()" class="movieMobileMenu__button">
            Найти
        </div>
    </div>
</div>
<div 
    mesto-feedback-item="mobileMenu"
    class="movieMobileMenu">
    <div mesto-feedback-toggle="mobileMenu" class="movieMobileMenu__close">
        {% include 'mesto/inc/black_cross.svg' %}
    </div>
    {% include 'movie/inc/menu_list.html' %}
 </div>
