{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Language" content="ru">
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <meta name="Description" content="{% block seo_desc %}
            {% if object.seo_desc %}{{ object.seo_desc }}{% else %}{{ page.seo_desc }}{% endif %}
        {% endblock %}" />
        <meta name="Keywords" content="{% block seo_keyw %}
                {% if object.seo_keyw %}{{ object.seo_keyw }}{% else %}{{ page.seo_keyw }}{% endif %}
        {% endblock %}" />
        <meta name="language" content="ru-ru" />
        <meta name="Robots" content="all" />
        <title>{% block object.seo_title %}
            {% if object.seo_title %}{{ object.seo_title }}{% else %}{{ page.seo_title }}{% endif %}
        {% endblock %}</title>
        <link href='{% static 'css/style.css' %}' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block 'content' %}
        {% endblock %}
    </body>
</html>
