{% extends 'mesto/base.html' %}
{% block 'content' %}
    <main class="feedBackPopUp">
        <header class="feedBackPopUp__header">
            Написать нам
        </header>
        {% for field in form %}
            {% if field.errors %}
                {{ field.label }} - {{ field.errors }}
            {% endif %}
        {% endfor %}
        <form method="POST" class="feedBackPopUp__form">
            {% csrf_token %}
            <input 
                name="first_name"
                value="{{ form.first_name.value|default:'' }}"
                class="feedBackPopUp__text"
                type="text"
                placeholder="Имя*"/>
            <input
                name="phone"
                value="{{ form.phone.value|default:'' }}"
                class="feedBackPopUp__text"
                type="number"
                placeholder="Телефон*"/>
            <input 
                name="email"
                value="{{ form.email.value|default:'' }}"
                class="feedBackPopUp__text"
                type="email"
                placeholder="E-mail"/>
            <textarea 
                name="comment"
                class="feedBackPopUp__textarea feedBackPopUp__text"
                placeholder="Сообщение">{{ form.comment.value|default:'' }}</textarea>
            <button class="feedBackPopUp__button">
                 Отправить сообщение
            </button>
        </form>
        {% include 'events/inc/baseFooter.html' with select=3 %}
    </main>
{% endblock %}
