{% extends 'mesto/base.html' %}
{% load staticfiles %}
{% block 'content' %}
    <main class="mainPage">
        <div class="mainPage__wrapper">
            <header class="mainPage__header">
                <img src="{% static 'mesto/img/logo.png' %}"/>
            </header>
            <nav class="mainPage__nav">
                <a class="mainPage__item" href="{% url 'events:top' %}">Events</a>
                <a class="mainPage__item disabled" href="#">Highender</a>
                <a class="mainPage__item disabled" href="#">Movie theater</a>
            </nav>
        </div>
    </main>
{% endblock %}
