{% extends 'movie/base.html' %}
{% block 'main_content' %}
<div class="aboutPage">
    <h1 class="aboutPage__header" >О кинотеатре</h1>
    <div class="aboutPage__big">Сеть кинотеатров «Киномакс» представляет совершенно новый кинотеатр с уникальными подвижными креслами D-BOX и современнойсистемой стереопроекции IMAX 3D.</div>
    <div class="aboutPage__medium">Кинотеатр «Киномакс-Пражская» — это киноцентр, оснащенный современной технологией IMAX, которая превращает любые фильмы и мультфильмы в завораживающее зрелище. Гигантский экран, особая геометрия зрительного зала, и, конечно, фантастический звук! Все это заставляет зрителей забыть о том, что они всего лишь смотрят кино — экран исчезает, а фильм становится виртуальной реальностью! Впечатления от посещения кинотеатра IMAX настолько сильны, насколько уникальна технология, создающая их.</div>
    <div class="aboutPage__small">Кинотеатр «Киномакс-Пражская» — это киноцентр, оснащенный современной технологией IMAX, которая превращает любые фильмы и мультфильмы в завораживающее зрелище. Гигантский экран, особая геометрия зрительного зала, и, конечно, фантастический звук! Все это заставляет зрителей забыть о том, что они всего лишь смотрят кино — экран исчезает, а фильм становится виртуальной реальностью! Впечатления от посещения кинотеатра IMAX настолько сильны, насколько уникальна технология, создающая их.</div>
</div>
{% endblock %}
