{% extends 'mesto/base.html' %}
{% load staticfiles %}
{% block 'content' %}
<div class="movieMain" mesto-feedback-contanier="mobileFilterMenu">
    <a href="{% url 'movie:main' %}" class="movieMain__header">
        <img class="movieMain__header__img" src="{% static 'mesto/img/logo_color-01.svg' %}"/>
        <div class="movieMain__subheader">
        {% block 'subheader' %}
            Movie Theater
        {% endblock %}
        </div>
    </a>
    <menu class="mainMenu">
        {% block 'menu_button' %}
        <a class="mainMenu__item movieMain__menu fadeAnimator__ancor" href="{% url 'main' %}">
            {% include 'mesto/inc/menu.svg' %}
        </a>
        {% endblock %}
    </menu>
    <main class="popUpAnimator__wrapper movieMain__content">
        {% block 'main_content' %}
        {% endblock %}
    </main>
    {% block footer %}
        <footer class="movieFooter">
            <menu class="movieFooter__menu">
                <a href="{% url 'movie:calendar' %}" class="movieFooter__item">Скоро в кино</a>
            </menu>
            <menu class="movieFooter__socialList">
                <a class="movieFooter__social inst" href="/"></a>
            </menu>
        </footer>
    {% endblock %}
</div>
{% endblock %}
