{% extends 'mesto/base.html' %}
{% load staticfiles %}
{% block 'content' %}
<div 
    mesto-feedback-item="dotsMenu"
    class="movieMobileMenu main">
    <div mesto-feedback-toggle="dotsMenu" class="movieMobileMenu__close">
        {% include 'mesto/inc/black_cross.svg' %}
    </div>
    {% block 'dots_menu' %}
        {% include 'movie/inc/menu_list.html' %}
    {% endblock %}
 </div>
<div class="movieMain" 
    mesto-feedback-contanier="dotsMenu"
    mesto-feedback-contanier="mobileFilterMenu">
    <a href="{% url 'movie:main' %}" class="movieMain__header{% block 'mainMenuClass' %} {% endblock %}">
        <img class="movieMain__header__img" src="{% static 'mesto/img/logo_color-01.png' %}"/>
        <div class="movieMain__subheader">
        {% block 'subheader' %}
            Movie Theater
        {% endblock %}
        </div>
    </a>
    <a mesto-feedback-toggle="dotsMenu" class="movieMain__dots hideBig">
    </a>
    <menu class="mainMenu">
        {% block 'menu_button' %}
        <a class="mainMenu__item movieMain__menu fadeAnimator__ancor" href="{% url 'main' %}">
            {% include 'mesto/inc/menu.svg' %}
        </a>
        {% endblock %}
    </menu>
    <main class="popUpAnimator__wrapper movieMain__content">
        {% block 'main_content' %}
        {% endblock %}
    </main>
    {% block footer %}
        <footer class="movieFooter">
            <menu class="movieFooter__menu">
                <a  
                    href="{% url 'movie:calendar' %}#today" 
                    class="fadeAnimator__ancor movieFooter__item">
                    Скоро в кинотеатре
                </a>
            </menu>
            <menu class="movieFooter__socialList">
                <a 
                    class="movieFooter__social inst"
                    target="_blank"
                    href="https://www.instagram.com/mesto_2/"></a>
            </menu>
        </footer>
    {% endblock %}
</div>
{% endblock %}
