{% extends 'movie/base.html' %}
{% block 'mainMenuClass' %}
    hideBig
{% endblock %}
{% block 'menu_button' %}
    <a class="mainMenu__item movieMain__back fadeAnimator__ancor" href="{% url 'movie:main' %}">
    </a>
{% endblock %}
{% block 'dots_menu' %}
    {% include 'movie/inc/menu_list.html' with selected="calendar" %}
{% endblock %}
{% block 'main_content' %}
    {% include 'movie/inc/call_the_saul.html' %}
    {% regroup object_list by date|date:"j E" as date_list %}
    <article
        class="calendarPage">
        <div 
            ng-controller="showsFilterController as vm"
            class="calendarPage__filters">
           {% include 'movie/inc/filter_list.html' with customSelectModifer='transparent' %} 
        </div>
        <div class="catalogPage__menu">
        {% block 'menu_list' %}
            {% include 'movie/inc/desktop_menu.html' with selected='calendar' %}
        {% endblock %}
        </div>
        <div 
            du-scroll-container
            id="calendarList"
            class="calendarPage__list">
            {% for date_info in date_list %}
            <dl 
                {% if date_info.grouper == now_date|date:"j E" %}
                id="today"
                {% else %}
                id="day{{ forloop.counter }}"
                {% endif %}
                class="calendarPage__item">
                <dt class="calendarPage__date">
                    <time>
                        {% if date_info.grouper == now_date|date:"j E" %}
                            Сегодня
                        {% else %}
                            {{ date_info.grouper }}
                        {% endif %}
                    </time>
                </dt>
                {% regroup date_info.list|dictsort:"show.id" by show.id as show_info %}
                {% for show in show_info %}
                <dd class="calendarPage__desc">
                    {{ show.grouper }}
                    <div
                        class="calendarPage__wrapper">
                        <div class="calendarPage__time">
                        {% for screening in show.list %}
                            <a
                               href="{% url 'movie:detail' slug=screening.show.slug %}?date={{ screening.date|date:"j E l" }}#schedule"
                               class="calendarPage__time__item">
                               {{ screening.date|date:"H:i" }}
                            </a>
                        {% endfor %}
                        </div>
                        <a 
                            href="{% url 'movie:detail' slug=show.list.0.show.slug %}"
                            class="calendarPage__info">
                            Подробнее
                        </a>
                        <div 
                            class="calendarPage__img"
                            style="background-image: url({{ show.list.0.show.image.url }})">
                            <img 
                                class="calendarPage__image"
                                src="{{ show.list.0.show.image.url }}"/>
                        </div>
                    </div>
                </dd>
                {% endfor %}
            </dl>
            {% if forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </article>
    <div>
        {% include 'movie/inc/mobile_filter.html' %}
    </div>
{% endblock %}
{% block footer %}
    <footer class="movieFooter hideBig">
        <menu
            mesto-feedback-toggle="mobileFilterMenu"
            class="movieFooter__socialList">
            <a class="movieFooter__social options"></a>
        </menu>
    </footer>
{% endblock %}
