{% extends 'movie/base.html' %}
{% load staticfiles %}
{% block 'mainMenuClass' %}
    hideBig
{% endblock %}
{% block 'menu_button' %}
    <a class="mainMenu__item movieMain__back fadeAnimator__ancor" href="{% url 'movie:main' %}">
    </a>
{% endblock %}
{% block 'main_content' %}
    <article class="catalogPage">
        <div class="catalogPage__filters">
           {% include 'movie/inc/filter_list.html' with customSelectModifer='transparent' %} 
        </div>
        <div class="catalogPage__menu">
            <div class="movieMenu">
                <header class="movieMenu__header">
                    <a 
                        class="movieMenu__imgAncor"
                        href="{% url 'movie:main' %}">
                        <img class="movieMenu__header__img" src="{% static 'mesto/img/logo_color-01.svg' %}"/>
                    </a>
                    <a 
                        class="movieMenu__subheader"
                        href="{% url 'main' %}">
                            {% include 'mesto/inc/menu.svg' %}
                    </a>
                </header>
                {% block 'menu_list' %}
                    {% include 'movie/inc/menu_list.html' with customSelectModifer="black" selected="catalog" %}
                {% endblock %}
                <footer class="movieMenu__footer">
                    <div class="movieMenu__button">
                        Заказать фильм
                    </div>
                    <article class="movieMenu__text">
                        <div>Все права защищены законом.</div>
                        <div>{% now "Y" %}</div>
                    </article>
                </footer>
            </div>
        </div>
        <div class="catalogPage__list">
            {% for show in object_list %}
            <a 
                class="catalogPage__item fadeAnimator__ancor"
                href="{% url 'movie:detail' slug=show.slug %}"
                style="background-image: url({{ show.image.url }})">
                <div class="catalogPage__rating">
                    {{ show.get_rating }}
                </div>
                <img 
                    class="catalogPage__image"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </a>
            {% endfor %}
        </div>
    </article>
    {% block 'mobileMenu' %}
        {% include 'movie/inc/mobile_menu.html' with customSelectModifer="black" selected="catalog" %}
    {% endblock %}
{% endblock %}
{% block footer %}
    <footer class="movieFooter hideBig">
        <menu
            mesto-feedback-toggle="mobileMenu"
            class="movieFooter__menu">
            <a class="movieFooter__item">{% block 'mobileMenuName' %}Каталог фильмов{% endblock %}</a>
        </menu>
        <menu
            mesto-feedback-toggle="mobileFilterMenu"
            class="movieFooter__socialList">
            <a class="movieFooter__social options"></a>
        </menu>
    </footer>
{% endblock %}
