{% extends 'movie/base.html' %}
{% load staticfiles %}
{% block 'head' %}
    <script src="https://www.youtube.com/player_api"></script>
{% endblock %}
{% block 'main_content' %}
    <div slider-main ng-controller="showMovieController as vm" class="sliderJsMovie">
        <div slider-controll="1" class="sliderJsMovie__next">
        </div>
        <div slider-controll="-1" class="sliderJsMovie__prev">
        </div>
        <ul slider-content
            horizontal-scroll
            class="sliderJsMovie__content"> {% for show in object_list %}
            <li
                slider-item
                class="sliderJsMovie__item">
                <article class="showSlide">
                    <div class="showSlide__top">
                    </div>
                    <div class="showSlide__titleBlock">
                        <div class="showSlide__titleWraper">
                            <div class="showSlide__subheader">
                                {{ show.year }} - {{ show.genre }}
                            </div>
                            <a href="{% url 'movie:detail' slug=show.slug %}" class="showSlide__title">
                                {{ show.title }}
                            </a>
                            <div class="showSlide__original_title">
                                {{ show.original_title }}
                            </div>
                        </div>
                        <div class="showSlide__titleWraper showSlide__smallDesc">
                            <a 
                               class="fadeAnimator__ancor showSlide__button"
                               href="{% url 'movie:detail' slug=show.slug %}#schedule"  >
                               Расписание
                            </a>
                            <a 
                                class="fadeAnimator__ancor showSlide__toDetail"
                                href="{% url 'movie:detail' slug=show.slug %}">
                                Описание фильма
                            </a>
                        </div>
                    </div>
                    <header 
                        ng-class="{active: vm.video['{{ show.trailer }}'].active }"
                        style="background-image: url({{ show.image.url }})"
                        class="showSlide__header">
                        <img 
                            class="showSlide__bigImage"
                            src="{% static 'mesto/img/16x9.gif' %}"/>
                        <img 
                            class="showSlide__image"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="showSlide__rating">
                            {{ show.rating }}
                        </div>
                        <div class="showSlide__play">
                            {% include 'mesto/inc/playTrangle.svg' %}
                        </div>
                        <youtube-video 
                            class="showSlide__video"
                            player-vars="{
                                controls: 0,
                                showinfo: 0,
                                modestbranding: 1
                            }"
                            video-url="'{{ show.trailer }}'">
                        </youtube-video>
                    </header>
                    <div class="showSlide__bottom">
                    </div>
                </article>
            </li>
        {% endfor %}
        </ul>
        <footer class="sliderJsMovie__info">
            <a href="" class="showSlide__button">
                Расписание
            </a>
            <a href="" class="showSlide__toDetail">
                Описание фильма
            </a>
        </footer>
{% endblock %}
