/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'anglecia_pro_titleitalic';
  src: url('../fonts/angleciaprotitleitalic-webfont.eot');
  src: url('../fonts/angleciaprotitleitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angleciaprotitleitalic-webfont.woff2') format('woff2'),
         url('../fonts/angleciaprotitleitalic-webfont.woff') format('woff'),
         url('../fonts/angleciaprotitleitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anglecia_pro_titleregular';
  src: url('../fonts/angleciaprotitleregular-webfont.eot');
  src: url('../fonts/angleciaprotitleregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angleciaprotitleregular-webfont.woff2') format('woff2'),
         url('../fonts/angleciaprotitleregular-webfont.woff') format('woff'),
         url('../fonts/angleciaprotitleregular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hcyrregular';
  src: url('../fonts/hcyr-regular-webfont.eot');
  src: url('../fonts/hcyr-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hcyr-regular-webfont.woff2') format('woff2'),
         url('../fonts/hcyr-regular-webfont.woff') format('woff'),
         url('../fonts/hcyr-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.baseEvents__menu__item,
.baseFooter__item {
  font: 14px hcyrregular;
  text-decoration: none;
  color: #000;
  opacity: .3;
}

.feedBackPopUp {
  min-height: 100%;
  box-sizing: border-box;
  padding: 17px;
  position: relative;
}

.feedBackPopUp__header {
  text-align: center;
  font: 30px 'anglecia_pro_titleregular';
  margin: 30px 0px;
}

.feedBackPopUp__header.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: -17px 0px;
}

.feedBackPopUp__header__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedBackPopUp__header__img {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
}

.feedBackPopUp__form {
  padding: 20px 0px;
}

.feedBackPopUp__form input,
.feedBackPopUp__form textarea {
  font: 15px hcyrregular;
  opacity: .3;
}

.feedBackPopUp__form input::-webkit-input-placeholder,
.feedBackPopUp__form textarea::-webkit-input-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input::-moz-placeholder,
.feedBackPopUp__form textarea::-moz-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input:-ms-input-placeholder,
.feedBackPopUp__form textarea:-ms-input-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input:-moz-placeholder,
.feedBackPopUp__form textarea:-moz-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__text {
  width: 100%;
  display: block;
  background: #ccdde1;
  box-sizing: border-box;
  border: 2px solid #ccdde1;
  margin: 10px 0px;
  border-radius: 3px;
  color: #2C2D33;
  padding: 13px;
}

.feedBackPopUp__button {
  width: 100%;
  display: block;
  background: #ccdde1;
  box-sizing: border-box;
  border: 2px solid #ccdde1;
  margin: 10px 0px;
  border-radius: 3px;
  color: #2C2D33;
  padding: 13px;
}

.feedBackPopUp__button {
  background: #B8C9CC;
  font: 20px hcyrregular;
  color: #fff;
  border: 0;
  padding: 17px;
}

.feedBackPopUp__button:hover {
  cursor: pointer;
}

.feedBackPopUp__text.error {
  background: #EF3737;
}

.feedBackPopUp__text.error::-webkit-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error::-moz-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error:-ms-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error::placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid {
  background: #EF3737;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::-webkit-input-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::-moz-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid:-ms-input-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched {
  background: #EF3737;
}

.feedBackPopUp__text.ng-invalid.ng-touched::-webkit-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched::-moz-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched:-ms-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched::placeholder {
  color: #fff;
}

.feedBackPopUp__text:focus {
  opacity: 1;
  background: #fff;
  outline: 0;
}

.mainPage {
  background: url('../img/main_bg.png');
  text-align: center;
  position: relative;
  height: 100%;
}

.mainPage__background {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  background-size: cover;
  background-position: 50% 50%;
}

.mainPage__background.active {
  opacity: 1;
}

.mainPage__background:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .7;
  background: #020716;
}

.mainPage__wrapper,
.mainPage:after {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.mainPage__svg {
  width: 230px;
  margin-bottom: -80px;
}

.mainPage__nav {
  margin-top: 70px;
}

.mainPage__item {
  margin: 15px 0px;
  display: block;
  text-decoration: none;
  color: #000;
  font: 25px/100% hcyrregular;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.mainPage__item.active {
  opacity: 1;
}

.mainPage__item.disabled {
  opacity: 0.2;
}

.mainPage:after {
  content: '';
  height: 100%;
}

.baseEvents {
  height: 100%;
  box-sizing: border-box;
  padding: 17px;
  padding-bottom: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.baseEvents__subheader {
  display: none;
}

.baseEvents__header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.baseEvents__header__img {
  width: 30%;
}

.baseEvents__menu {
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  top: 20px;
  left: 100%;
  -webkit-transform: translate(-30px, -100%) rotate(90deg);
      -ms-transform: translate(-30px, -100%) rotate(90deg);
          transform: translate(-30px, -100%) rotate(90deg);
}

.baseEvents__menu__item {
  margin-right: 10px;
  position: relative;
}

.baseEvents__menu__item.active {
  opacity: 1;
}

.baseEvents__menu__item.active:after {
  content: '';
  width: 15px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.baseFooter {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: justify;
}

.baseFooter.static {
  position: static;
  padding: 20px 0px 0px;
  margin-bottom: -15px;
}

.baseFooter__item,
.baseFooter:after {
  display: inline-block;
}

.baseFooter:after {
  content: '';
  width: 100%;
}

.baseFooter__item {
  display: inline-block;
  opacity: 1;
  -webkit-transition: color .5s, opacity .5s;
          transition: color .5s, opacity .5s;
}

.baseFooter__item.active {
  opacity: .5;
}

.topEventList {
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.topEventList__date {
  position: absolute;
  bottom: 10px;
  left: 50%;
  opacity: .3;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font: 53px/100% 'anglecia_pro_titleregular';
  display: block;
  color: #ccdde1;
}

.topEventList__date__day,
.topEventList__date__month {
  display: inline-block;
  vertical-align: top;
}

.topEventList__date__day {
  font: 160px/74% 'anglecia_pro_titleregular';
}

.topEventList__slide {
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 60px;
  margin-top: -27px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  position: relative;
  width: 100%;
}

.topEventList__item {
  position: relative;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: normal;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.topEventList__wrapper {
  width: 70%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin: 0 auto;
}

.sliderJs {
  overflow: hidden;
}

.sliderJs__prev,
.sliderJs__next {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  opacity: .5;
  z-index: 2;
  -webkit-transform: scale(1, 1.5) rotate(45deg);
      -ms-transform: scale(1, 1.5) rotate(45deg);
          transform: scale(1, 1.5) rotate(45deg);
}

.sliderJs__prev:hover,
.sliderJs__next:hover {
  cursor: pointer;
}

.sliderJs__prev:after,
.sliderJs__next:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%) translateX(-10px);
      -ms-transform: translateY(-50%) translateX(-10px);
          transform: translateY(-50%) translateX(-10px);
}

.sliderJs__prev {
  left: 10px;
  border-left: 2px solid #252324;
  border-bottom: 2px solid #252324;
}

.sliderJs__next {
  right: 10px;
  border-right: 2px solid #252324;
  border-top: 2px solid #252324;
}

.sliderJs__next:after {
  top: 10px;
  left: 0px;
}

.sliderJs__slide {
  display: inline-block;
  vertical-align: top;
}

.itemPage {
  display: block;
  box-sizing: border-box;
}

.itemPage__header {
  margin: 50px 0px 20px;
  font: 25px/100% 'anglecia_pro_titleregular';
}

.itemPage__date {
  color: #ccdde1;
  margin: 20px 0px;
  display: block;
  font: 13px hcyrregular;
}

.itemPage__image {
  width: 100%;
  margin: 20px 0px;
}

.itemPage__desc,
.itemPage__content {
  font: 15px anglecia_pro_titleregular;
}

.itemPage__content p {
  margin: 10px 0px;
}

.itemPage__content a {
  position: relative;
  text-decoration: line-through;
}

.itemPage__content em,
.itemPage__content a {
  font-family: anglecia_pro_titleitalic;
}

.itemPage__content a {
  color: inherit;
}

.itemPreview {
  color: #2C2D33;
  text-decoration: none;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.itemPreview__content {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  font: 15px 'anglecia_pro_titleregular';
  text-align: left;
}

.itemPreview__header {
  text-align: left;
  font: 25px/23px 'anglecia_pro_titleregular';
  margin: 15px 0px;
}

.itemPreview__figure {
  text-align: center;
}

.itemPreview__image {
  width: 100%;
}

.nextBlock__header {
  margin: 30px 0px;
  font: 25px anglecia_pro_titleregular;
  text-align: center;
}

.nextBlock__item {
  margin: 30px 0px;
}

.socialList {
  text-align: center;
  margin: 50px;
}

.socialList__item {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 100%;
  font: 14px hcyrregular;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.socialList__item.vk {
  background: #48729E;
}

.socialList__item.fb {
  background: #4C7CFF;
}

.socialList__item.tw {
  background: #01ACED;
}

.mainMenu {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 17px;
  white-space: nowrap;
}

.mainMenu.right {
  right: 0px;
  left: auto;
}

.mainMenu__svg {
  width: 32px;
}

.mainMenu.white .mainMenu__svg rect {
  fill: #fff;
}

.mainMenu.white .mainMenu__item.back:after {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.mainMenu__item {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
}

.mainMenu__item:before {
  content: '';
  width: 120%;
  height: 120%;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
}

.mainMenu__item.back:after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
      -ms-transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
          transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-left: 1px solid #252324;
  border-top: 1px solid #252324;
  top: 0px;
}

.mainMenu__item img {
  width: 25px;
}

.itemsListAll {
  box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.itemsListAll .mainMenu {
  margin-top: 10px;
}

.itemsListAll__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.itemsListAll__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  position: relative;
}

.itemsListAll__item:nth-child(2) {
  background: #fff;
}

.itemsListAll__item:nth-child(2):after {
  background: #ccdde1;
}

.itemsListAll__item:nth-child(2) .itemsListAll__header {
  color: #2C2D33;
}

.itemsListAll__item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44,45,51,.8);
}

.itemsListAll__header {
  text-align: center;
  font: 25px anglecia_pro_titleregular;
  position: relative;
  z-index: 1;
  color: #808185;
}

.pagesList {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1;
}

.pagesList__item {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  opacity: .5;
  margin: 0px 3px;
}

.pagesList__item.active {
  opacity: 1;
}

.popUpAnimator {
  overflow-y: auto;
}

.popUpAnimator.fixedPopUp {
  overflow: hidden;
}

.popUpAnimator__content {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .5s ease, height 0s ease .5s;
          transition: transform .5s ease, height 0s ease .5s;
}

.popUpAnimator__content.active {
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  height: 100%;
  position: fixed;
}

.fadeAnimator {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
}

.fadeAnimator.fade {
  opacity: 0;
}

.svgLogo__rect {
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  fill: #fff;
}

.svgLogo__small {
  font-size: 5px;
}

.svgLogo__item text {
  font: 11px/100% hcyrregular;
  fill: #fff;
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.svgLogo__item:hover {
  cursor: pointer;
}

.svgLogo__item:hover text {
  opacity: 1;
}

.svgLogo__item:hover .svgLogo__rect {
  opacity: 1;
}

body,
html {
  width: 100%;
  height: 100%;
}

body a,
html a {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 800px) {

  .mainPage {
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
  }

  .mainPage__header {
    position: relative;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
  }

  .mainPage__wrapper {
    width: 99%;
  }

  .mainPage__svg {
    width: 90%;
  }

  .mainPage__nav {
    margin: 10px auto 0;
    width: 90%;
    text-align: justify;
  }

  .mainPage__nav:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .mainPage__item {
    display: none;
  }

  .mainPage__item {
    opacity: 0;
    color: #fff;
  }

  .mainPage__item.disabled {
    opacity: 0;
    color: #fff;
  }

  .mainPage__item.disabled.active {
    opacity: 1;
  }

  .mainPage__item.disabled:after {
    position: absolute;
    content: 'В разработке';
  }

  .baseEvents {
    padding: 0px;
  }

  .baseEvents__subheader {
    position: absolute;
    display: block;
    right: 0px;
    color: #ccdde1;
    font: 15px hcyrregular;
  }

  .baseEvents__header {
    position: relative;
    margin: 40px auto 0;
    width: 120px;
  }

  .baseEvents__header__img {
    width: 120px;
  }

  .baseEvents__menu {
    top: 40px;
    left: calc(100% - 20px);
  }

  .baseFooter {
    bottom: 40px;
    left: 40px;
    right: 40px;
    text-align: left;
  }

  .baseFooter__item {
    margin-right: 10px;
    opacity: .5;
    color: #ccdde1;
  }

  .baseFooter__item.active,
  .baseFooter__item:hover {
    color: #000;
    opacity: 1;
  }

  .topEventList {
    overflow-x: auto;
  }

  .topEventList__date {
    left: 33px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    bottom: 140px;
  }

  .topEventList__wrapper {
    height: 100%;
  }

  .topEventList__wrapper .topEventList__content {
    width: 99%;
    position: relative;
  }

  .topEventList__wrapper .topEventList__content,
  .topEventList__wrapper:after {
    display: inline-block;
    vertical-align: middle;
  }

  .topEventList__wrapper:after {
    content: '';
    width: 1px;
    height: 100%;
  }

  .itemPreview.top .itemPreview__image {
    width: 70%;
    margin-top: -200px;
    -webkit-transform: translateX(calc(50% - 30px));
        -ms-transform: translateX(calc(50% - 30px));
            transform: translateX(calc(50% - 30px));
  }

  .itemPreview.top .itemPreview__wrapper {
    position: absolute;
    top: calc(50% - 110px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    left: 0px;
    right: 0px;
  }

  .itemPreview.top .itemPreview__content {
    width: calc(50% - 30px);
  }

  .itemPreview.top .itemPreview__header {
    font: 59px/110% 'anglecia_pro_titleregular';
    margin-bottom: 50px;
  }

  .mainMenu {
    top: 40px;
    left: 40px;
  }
}

@media (max-width: 800px) {

  .mainPage__background {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
