/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'anglecia_pro_titleitalic';
  src: url('../fonts/angleciaprotitleitalic-webfont.eot');
  src: url('../fonts/angleciaprotitleitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angleciaprotitleitalic-webfont.woff2') format('woff2'),
         url('../fonts/angleciaprotitleitalic-webfont.woff') format('woff'),
         url('../fonts/angleciaprotitleitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Light';
  src: url('../fonts/hacl-webfont.eot');
  src: url('../fonts/hacl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hacl-webfont.woff2') format('woff2'),
         url('../fonts/hacl-webfont.woff') format('woff'),
         url('../fonts/hacl-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('../fonts/hsprocyr-bold-webfont.eot');
  src: url('../fonts/hsprocyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hsprocyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/hsprocyr-bold-webfont.woff') format('woff'),
         url('../fonts/hsprocyr-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('../fonts/hsprocyr-semibd-webfont.eot');
  src: url('../fonts/hsprocyr-semibd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hsprocyr-semibd-webfont.woff2') format('woff2'),
         url('../fonts/hsprocyr-semibd-webfont.woff') format('woff'),
         url('../fonts/hsprocyr-semibd-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anglecia_pro_titleregular';
  src: url('../fonts/angleciaprotitleregular-webfont.eot');
  src: url('../fonts/angleciaprotitleregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angleciaprotitleregular-webfont.woff2') format('woff2'),
         url('../fonts/angleciaprotitleregular-webfont.woff') format('woff'),
         url('../fonts/angleciaprotitleregular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hcyrregular';
  src: url('../fonts/hcyr-regular-webfont.eot');
  src: url('../fonts/hcyr-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hcyr-regular-webfont.woff2') format('woff2'),
         url('../fonts/hcyr-regular-webfont.woff') format('woff'),
         url('../fonts/hcyr-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.baseEvents__menu__item,
.baseFooter__item {
  font: 14px hcyrregular;
  text-decoration: none;
  color: #000;
  opacity: .3;
}

.feedBackPopUp {
  min-height: 100%;
  box-sizing: border-box;
  padding: 17px;
  position: relative;
}

.feedBackPopUp__header {
  text-align: center;
  font: 30px 'anglecia_pro_titleregular';
  margin: 30px 0px;
}

.feedBackPopUp__header.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: -17px 0px;
}

.feedBackPopUp__header__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedBackPopUp__header__img {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
}

.feedBackPopUp__form {
  padding: 20px 0px;
}

.feedBackPopUp__form input,
.feedBackPopUp__form textarea {
  font: 15px hcyrregular;
  opacity: .3;
}

.feedBackPopUp__form input::-webkit-input-placeholder,
.feedBackPopUp__form textarea::-webkit-input-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input::-moz-placeholder,
.feedBackPopUp__form textarea::-moz-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input:-ms-input-placeholder,
.feedBackPopUp__form textarea:-ms-input-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__form input:-moz-placeholder,
.feedBackPopUp__form textarea:-moz-placeholder {
  font: 15px hcyrregular;
  color: #2C2D33;
}

.feedBackPopUp__text {
  width: 100%;
  display: block;
  background: #ccdde1;
  box-sizing: border-box;
  border: 2px solid #ccdde1;
  margin: 10px 0px;
  border-radius: 3px;
  color: #2C2D33;
  padding: 13px;
}

.feedBackPopUp__button {
  width: 100%;
  display: block;
  background: #ccdde1;
  box-sizing: border-box;
  border: 2px solid #ccdde1;
  margin: 10px 0px;
  border-radius: 3px;
  color: #2C2D33;
  padding: 13px;
}

.feedBackPopUp__button {
  background: #B8C9CC;
  font: 20px hcyrregular;
  color: #fff;
  border: 0;
  padding: 17px;
}

.feedBackPopUp__button:hover {
  cursor: pointer;
}

.feedBackPopUp__text.error {
  background: #EF3737;
}

.feedBackPopUp__text.error::-webkit-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error::-moz-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error:-ms-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.error::placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid {
  background: #EF3737;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::-webkit-input-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::-moz-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid:-ms-input-placeholder {
  color: #fff;
}

.ng-submitted .feedBackPopUp__text.ng-invalid::placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched {
  background: #EF3737;
}

.feedBackPopUp__text.ng-invalid.ng-touched::-webkit-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched::-moz-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched:-ms-input-placeholder {
  color: #fff;
}

.feedBackPopUp__text.ng-invalid.ng-touched::placeholder {
  color: #fff;
}

.feedBackPopUp__text:focus {
  opacity: 1;
  background: #fff;
  outline: 0;
}

.mainPage {
  background: url('../img/main_bg.png');
  text-align: center;
  position: relative;
  height: 100%;
}

.mainPage__background {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  background-size: cover;
  background-position: 50% 50%;
}

.mainPage__background.active {
  opacity: 1;
}

.mainPage__background:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .7;
  background: #020716;
}

.mainPage__wrapper,
.mainPage:after {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.mainPage__svg {
  width: 230px;
  margin-bottom: -80px;
}

.mainPage__nav {
  margin-top: 70px;
}

.mainPage__item {
  margin: 15px 0px;
  display: block;
  text-decoration: none;
  color: #000;
  font: 25px/100% hcyrregular;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.mainPage__item.active {
  opacity: 1;
}

.mainPage__item.disabled {
  opacity: 0.2;
}

.mainPage:after {
  content: '';
  height: 100%;
}

.baseEvents {
  height: 100%;
  box-sizing: border-box;
  padding: 17px;
  padding-bottom: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.baseEvents__content {
  position: relative;
  z-index: 0;
}

.baseEvents__subheader {
  display: none;
}

.baseEvents__header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.baseEvents__header__img {
  width: 30%;
}

.baseEvents__menu {
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  top: 20px;
  left: 100%;
  -webkit-transform: translate(-30px, -100%) rotate(90deg);
      -ms-transform: translate(-30px, -100%) rotate(90deg);
          transform: translate(-30px, -100%) rotate(90deg);
}

.baseEvents__menu__item {
  margin-right: 10px;
  position: relative;
}

.baseEvents__menu__item.active {
  opacity: 1;
}

.baseEvents__menu__item.active:after {
  content: '';
  width: 15px;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.baseFooter {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: justify;
}

.baseFooter.detail {
  position: static;
  padding: 20px 0px 0px;
  margin-bottom: -15px;
}

.baseFooter__item,
.baseFooter:after {
  display: inline-block;
}

.baseFooter:after {
  content: '';
  width: 100%;
}

.baseFooter__item {
  display: inline-block;
  opacity: 1;
  -webkit-transition: color .5s, opacity .5s;
          transition: color .5s, opacity .5s;
  position: relative;
}

.baseFooter__item.active {
  opacity: .5;
}

.baseFooter__item.active:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background: #000;
  left: 0px;
  bottom: -1px;
}

.baseFooter.list.events .baseFooter__item.active:after {
  background: #fff;
}

.topEventList {
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.topEventList__date {
  position: absolute;
  bottom: 10px;
  left: 50%;
  opacity: .3;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font: 53px/100% 'anglecia_pro_titleregular';
  display: block;
  color: #ccdde1;
}

.topEventList__date__day,
.topEventList__date__month {
  display: inline-block;
  vertical-align: top;
}

.topEventList__date__day {
  font: 160px/74% 'anglecia_pro_titleregular';
}

.topEventList__image {
  display: none;
}

.topEventList__slide {
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 60px;
  margin-top: -27px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  position: relative;
  width: 100%;
}

.topEventList__item {
  position: relative;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: normal;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.topEventList__wrapper {
  width: 70%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin: 0 auto;
}

.sliderJs {
  overflow: hidden;
}

.sliderJs__twiter {
  display: none;
}

.sliderJs__counter.topEventList__date {
  display: none;
}

.sliderJs__background {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0px;
}

.sliderJs__background.left {
  background: #fff;
  width: 60%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.sliderJs__background.left:after,
.sliderJs__background.left:before {
  content: '';
  position: absolute;
}

.sliderJs__background.left:before {
  left: 150px;
  top: -300px;
  width: 12%;
  height: 125%;
  background: #ccdde1;
  -webkit-transform: skew(22deg, -65deg);
      -ms-transform: skew(22deg, -65deg);
          transform: skew(22deg, -65deg);
}

.sliderJs__background.moreleftOverflow,
.sliderJs__background.leftOverflow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.sliderJs__background.moreleftOverflow:after,
.sliderJs__background.moreleftOverflow:before,
.sliderJs__background.leftOverflow:after,
.sliderJs__background.leftOverflow:before {
  content: '';
  position: absolute;
}

.sliderJs__background.moreleftOverflow {
  width: 60%;
  clip: rect(0px,120px,2000px,0px);
}

.sliderJs__background.moreleftOverflow:before {
  left: 150px;
  top: -299px;
  width: 12%;
  height: 125%;
  -webkit-transform: skew(22deg, -65deg) scale(1, 1);
      -ms-transform: skew(22deg, -65deg) scale(1, 1);
          transform: skew(22deg, -65deg) scale(1, 1);
  background: rgba(255,255,255, .95);
}

.sliderJs.events .sliderJs__background.moreleftOverflow:before {
  background: rgba(255,255,255, 1);
}

.sliderJs__background.leftOverflow:after {
  left: 150px;
  top: -300px;
  width: 12%;
  height: 125%;
  -webkit-transform: skew(22deg, -65deg) scale(1, 1.9);
      -ms-transform: skew(22deg, -65deg) scale(1, 1.9);
          transform: skew(22deg, -65deg) scale(1, 1.9);
  box-shadow: -1040px  1000px 0px 1000px rgba(255, 255, 255,.95);
}

.sliderJs.events .sliderJs__background.leftOverflow:after {
  box-shadow: -1040px  1000px 0px 1000px rgba(255, 255, 255, 1);
}

.sliderJs__background.right {
  width: 30%;
  left: 70%;
  overflow: hidden;
  pointer-events: all;
}

.sliderJs__background.right .circle {
  position: absolute;
  border-radius: 50%;
  height: 70%;
  left: 50%;
  bottom: 3%;
  background: transparent;
  box-shadow: 0px  0px 0px 1000px rgba(255, 255, 255,.95);
}

.sliderJs.events .sliderJs__background.right .circle {
  box-shadow: 0px  0px 0px 1000px rgba(255, 255, 255, 1);
}

.sliderJs__prev,
.sliderJs__next {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  opacity: .5;
  z-index: 2;
  -webkit-transform: scale(1, 1.5) rotate(45deg);
      -ms-transform: scale(1, 1.5) rotate(45deg);
          transform: scale(1, 1.5) rotate(45deg);
}

.sliderJs__prev:hover,
.sliderJs__next:hover {
  cursor: pointer;
}

.sliderJs__prev:after,
.sliderJs__next:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  -webkit-transform: translateY(-50%) translateX(-10px);
      -ms-transform: translateY(-50%) translateX(-10px);
          transform: translateY(-50%) translateX(-10px);
}

.sliderJs__prev {
  left: 10px;
  border-left: 2px solid #252324;
  border-bottom: 2px solid #252324;
}

.sliderJs__next {
  right: 10px;
  border-right: 2px solid #252324;
  border-top: 2px solid #252324;
}

.sliderJs__next:after {
  top: 10px;
  left: 0px;
}

.sliderJs__slide {
  display: inline-block;
  vertical-align: top;
}

.itemPage {
  display: block;
  box-sizing: border-box;
}

.itemPage__header {
  margin: 50px 0px 20px;
  font: 25px/100% 'anglecia_pro_titleregular';
}

.itemPage__date {
  color: #ccdde1;
  margin: 20px 0px;
  display: block;
  font: 13px hcyrregular;
}

.itemPage__image {
  width: 100%;
  margin: 20px 0px;
}

.itemPage__desc,
.itemPage__content {
  font: 15px anglecia_pro_titleregular;
}

.itemPage__content p {
  margin: 10px 0px;
}

.itemPage__content a {
  position: relative;
  text-decoration: line-through;
}

.itemPage__content em,
.itemPage__content a {
  font-family: anglecia_pro_titleitalic;
}

.itemPage__content a {
  color: inherit;
}

.itemPreview {
  color: #2C2D33;
  text-decoration: none;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.itemPreview__emptyImage {
  display: none;
}

.itemPreview__date {
  display: none;
}

.itemPreview__content {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  font: 15px 'anglecia_pro_titleregular';
  text-align: left;
}

.itemPreview__header {
  text-align: left;
  font: 25px/23px 'anglecia_pro_titleregular';
  margin: 15px 0px;
}

.itemPreview__figure {
  text-align: center;
}

.itemPreview__image {
  width: 100%;
}

.nextBlock__header {
  margin: 30px 0px;
  font: 25px anglecia_pro_titleregular;
  text-align: center;
}

.nextBlock__item {
  margin: 30px 0px;
}

.socialList {
  text-align: center;
  margin: 50px;
}

.socialList__item {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 100%;
  font: 14px hcyrregular;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.socialList__item.vk {
  background: #48729E;
}

.socialList__item.fb {
  background: #4C7CFF;
}

.socialList__item.tw {
  background: #01ACED;
}

.mainMenu {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 17px;
  white-space: nowrap;
}

.mainMenu.right {
  right: 0px;
  left: auto;
}

.mainMenu.bottom {
  top: auto;
  bottom: 43px;
}

.mainMenu__svg {
  width: 32px;
}

.mainMenu.list .mainMenu__svg rect {
  fill: #fff;
}

.mainMenu.list .mainMenu__item.back:after {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.mainMenu__item {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
}

.mainMenu__item:before {
  content: '';
  width: 120%;
  height: 120%;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
}

.mainMenu__item.back {
  color: #252324;
  padding-left: 10px;
  font: 12px hcyrregular;
}

.mainMenu__item.back:after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
      -ms-transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
          transform: translateY(-50%) scaleY(1.3) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-left: 1px solid #252324;
  border-top: 1px solid #252324;
  top: 50%;
  left: -10px;
}

.mainMenu__item img {
  width: 25px;
}

.itemsListAll {
  box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.itemsListAll.events {
  background: #2C2D33;
}

.itemsListAll__menu {
  margin-top: 10px;
}

.itemsListAll__footer {
  display: none;
}

.itemsListAll__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemsListAll__img {
  display: none;
}

.itemsListAll__date {
  display: none;
}

.itemsListAll__text,
.itemsListAll__date {
  position: relative;
  z-index: 1;
}

.itemsListAll__desc {
  display: none;
}

.itemsListAll__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 33.3333333%;
  width: 100%;
  overflow: hidden;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.itemsListAll__item:nth-child(2) {
  background: #fff;
}

.itemsListAll__item:nth-child(2):after {
  background: #ccdde1;
}

.itemsListAll__item:nth-child(2) .itemsListAll__header {
  color: #2C2D33;
}

.itemsListAll__item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44,45,51,.8);
}

.itemsListAll__header {
  text-align: center;
  font: 25px anglecia_pro_titleregular;
  position: relative;
  z-index: 1;
  color: #808185;
}

.pagesList {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.pagesList__item {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  opacity: .5;
  margin: 0px 3px;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}

.pagesList__item.preview,
.pagesList__item.next {
  position: relative;
}

.pagesList__item.preview:after,
.pagesList__item.next:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  margin-top: 1px;
  -webkit-transform: scaleY(1.4) translate(-50%, -50%) rotate(45deg);
      -ms-transform: scaleY(1.4) translate(-50%, -50%) rotate(45deg);
          transform: scaleY(1.4) translate(-50%, -50%) rotate(45deg);
}

.pagesList.events .pagesList__item.preview:after,
.pagesList.events .pagesList__item.next:after {
  border-color: #fff;
}

.pagesList__item.preview:after {
  margin-left: 1px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.pagesList__item.next:after {
  margin-left: -1px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.pagesList__item.last,
.pagesList__item.first {
  position: relative;
}

.pagesList__item.last:after,
.pagesList__item.first:after {
  content: '...';
  position: absolute;
  top: 50%;
  margin-top: -19px;
  font-size: 24px;
}

.pagesList__item.last {
  margin-left: 28px;
}

.pagesList__item.last:after {
  left: -28px;
}

.pagesList__item.first {
  margin-right: 28px;
}

.pagesList__item.first:after {
  right: -28px;
}

.pagesList__item.active,
.pagesList__item:hover {
  opacity: 1;
}

.popUpAnimator {
  overflow-y: auto;
}

.popUpAnimator.fixedPopUp {
  overflow: hidden;
  z-index: 3;
}

.popUpAnimator.fixedPopUp .popUpAnimator__wrapper {
  z-index: 2;
}

.popUpAnimator__content {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .5s ease, opacity 0s ease .5s, height 0s ease .5s;
          transition: transform .5s ease, opacity 0s ease .5s, height 0s ease .5s;
}

.popUpAnimator__content.active {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  height: 100%;
  position: fixed;
}

.fadeAnimator {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out;
}

.fadeAnimator.fade {
  opacity: 0;
}

.svgLogo__rect {
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  fill: #fff;
}

.svgLogo__small {
  font-size: 5px;
}

.svgLogo__item text {
  font: 11px/100% hcyrregular;
  fill: #fff;
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.svgLogo__item:hover {
  cursor: pointer;
}

.svgLogo__item:hover text {
  opacity: 1;
}

.svgLogo__item:hover .svgLogo__rect {
  opacity: 1;
}

.movieMain {
  background: #000;
  height: 100%;
}

.movieMain__menu rect {
  fill: #D52FAD;
}

.movieMain__menu rect:nth-child(2) {
  fill: #2BF4A7;
}

.movieMain__header {
  position: absolute;
  top: 13px;
  width: 126px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.movieMain__header__img {
  width: 100%;
}

.movieMain__subheader {
  color: #2bf4a7;
  font: 12px hcyrregular;
  position: absolute;
  right: 0px;
}

.movieFooter {
  background: #000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.movieFooter__item {
  text-decoration: none;
  color: #2BF4A7;
  font: 12px hcyrregular;
}

.movieFooter__socialList {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.movieFooter__social {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/instaIcon.svg) no-repeat 50% 50%;
}

.movieFooter__social:hover {
  cursor: pointer;
}

.sliderJsMovie {
  color: #fff;
  height: 100%;
  padding: 100px 0px 40px;
  box-sizing: border-box;
  position: relative;
}

.sliderJsMovie__next,
.sliderJsMovie__prev {
  position: absolute;
  top: 70px;
  width: 30px;
  height: 20px;
}

.sliderJsMovie__next:after,
.sliderJsMovie__next:before,
.sliderJsMovie__prev:after,
.sliderJsMovie__prev:before {
  content: '';
  position: absolute;
}

.sliderJsMovie__next:before,
.sliderJsMovie__prev:before {
  width: 10px;
  height: 10px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.sliderJsMovie__next:after,
.sliderJsMovie__prev:after {
  top: 50%;
  height: 1px;
  background: #fff;
  width: 100%;
  margin-top: 0.5px;
}

.sliderJsMovie__prev {
  left: 20px;
}

.sliderJsMovie__prev:before {
  -webkit-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  border-color: #2BF4A7;
}

.sliderJsMovie__prev:after {
  background-color: #2BF4A7;
}

.sliderJsMovie__next {
  right: 20px;
}

.sliderJsMovie__next:before {
  right: 0px;
  -webkit-transform: translateY(50%) rotate(-135deg);
      -ms-transform: translateY(50%) rotate(-135deg);
          transform: translateY(50%) rotate(-135deg);
  border-color: #D52FAD;
}

.sliderJsMovie__next:after {
  background-color: #D52FAD;
}

.sliderJsMovie__content {
  position: absolute;
  top: 100px;
  bottom: 50px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.sliderJsMovie__item {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
  white-space: normal;
}

.showSlide {
  font: 15px hcyrregular;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}

.showSlide__titleBlock {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  z-index: 1;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showSlide__titleWraper {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.showSlide__titleWraper:first-child {
  -webkit-flex-basis: 1%;
      -ms-flex-preferred-size: 1%;
          flex-basis: 1%;
}

.showSlide__video {
  position: absolute;
  left: 0px;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: .5s opacity;
          transition: .5s opacity;
}

.showSlide__header.active .showSlide__video {
  opacity: 1;
}

.showSlide__smallDesc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showSlide__subheader {
  position: absolute;
  right: 0px;
  top: 23px;
}

.showSlide__button {
  color: #2BF4A7;
  text-decoration: none;
  padding: 15px 35px;
  border: 2px solid #2BF4A7;
  border-radius: 40px;
  font: 15px HarmoniaSansProCyr-SemiBd;
}

.showSlide__todetail {
  text-decoration: none;
  color: #fff;
  position: relative;
  font: 14px HarmoniaSansProCyr-SemiBd;
  margin-top: 12px;
}

.showSlide__todetail:after {
  content: '';
  height: 1px;
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 1px;
}

.showSlide__title {
  box-sizing: border-box;
  padding-right: 100px;
  color: #2BF4A7;
  font: 20px/20px HarmoniaSansProCyr-Bold;
}

.showSlide__play {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  height: 29px;
}

.showSlide__play:before {
  width: 90px;
  height: 90px;
  content: '';
  position: absolute;
  background: rgba(0,0,0,.5);
  border-radius: 100px;
  border: 3px solid #2BF4A7;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.showSlide__play svg {
  position: relative;
  -webkit-transform: translate(3px,0px);
      -ms-transform: translate(3px,0px);
          transform: translate(3px,0px);
}

.showSlide__play polygon {
  fill: transparent;
  stroke: #2BF4A7;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.showSlide__header {
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.showSlide__header:after {
  content: '';
  height: 100px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 100%);
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
}

.showSlide__rating {
  position: absolute;
  top: 0px;
  z-index: 1;
  right: 0px;
  color: #D52FAD;
  font: 32px HarmoniaSansProCyr-Light;
  margin: 10px;
}

.showSlide__image {
  height: 50%;
}

.showSlide__desc {
  position: absolute;
  bottom: 0;
  display: none;
  height: 50%;
  left: 20px;
  right: 20px;
  background: red;
}

body,
html {
  width: 100%;
  height: 100%;
}

body a,
html a {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 800px) {

  .feedBackPopUp {
    width: 60%;
    min-height: auto;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    box-shadow: 10px 10px 70px 0px rgba(204, 221, 225, .7);
  }

  .feedBackPopUp .baseFooter {
    display: none;
  }

  .feedBackPopUp .feedBackPopUp__close {
    position: absolute;
    top: 15px;
  }

  .feedBackPopUp__header.center {
    margin: 30px 20px;
  }

  .feedBackPopUp__header__img {
    display: none;
  }

  .feedBackPopUp__form {
    padding: 0px;
  }

  .feedBackPopUp__inputs {
    margin: 0px 50px 40px;
  }

  .feedBackPopUp__button {
    margin: 0px;
    border-radius: 0px;
  }

  .mainPage {
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
  }

  .mainPage__header {
    position: relative;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
  }

  .mainPage__wrapper {
    width: 99%;
  }

  .mainPage__svg {
    width: 90%;
  }

  .mainPage__nav {
    margin: 10px auto 0;
    width: 90%;
    text-align: justify;
  }

  .mainPage__nav:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .mainPage__item {
    display: none;
  }

  .mainPage__item {
    opacity: 0;
    color: #fff;
  }

  .mainPage__item.disabled {
    opacity: 0;
    color: #fff;
  }

  .mainPage__item.disabled.active {
    opacity: 1;
  }

  .mainPage__item.disabled:after {
    position: absolute;
    content: 'В разработке';
  }

  .baseEvents {
    padding: 0px;
    z-index: 1;
  }

  .baseEvents__subheader {
    position: relative;
    display: inline-block;
    top: 20px;
    left: -40px;
    color: #ccdde1;
    font: 15px hcyrregular;
  }

  .baseEvents__header {
    z-index: 1;
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
  }

  .baseEvents__header__img {
    width: 120px;
  }

  .baseEvents__menu {
    top: 40px;
    left: calc(100% - 20px);
    position: fixed;
  }

  .baseFooter {
    bottom: 40px;
    left: 40px;
    right: 40px;
    text-align: left;
  }

  .baseFooter.list {
    right: auto;
  }

  .baseFooter.detail {
    display: inline-block;
    position: fixed;
    margin: 0px;
    right: 40px;
    left: auto;
    text-align: right;
    padding: 0px;
  }

  .baseFooter.detail .baseFooter__item {
    margin: 0px;
    opacity: .5;
    color: #000;
  }

  .baseFooter.detail .baseFooter__item + .baseFooter__item {
    margin-left: 20px;
  }

  .baseFooter.detail .baseFooter__item.active,
  .baseFooter.detail .baseFooter__item:hover {
    color: #000;
    opacity: 1;
  }

  .baseFooter__item {
    margin-right: 20px;
    opacity: .5;
    color: #ccdde1;
  }

  .baseFooter__item.active,
  .baseFooter__item:hover {
    color: #000;
    opacity: 1;
  }

  .baseFooter.list.events .baseFooter__item.active,
  .baseFooter.list.events .baseFooter__item:hover {
    color: #fff;
  }

  .topEventList {
    overflow-x: auto;
    height: 100%;
  }

  .topEventList.news {
    height: auto;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    overflow: hidden;
  }

  .topEventList.news:before,
  .topEventList.news:after {
    content: '';
    display: inline-block;
    width: 33.333333%;
    height: 100%;
    background: blue;
  }

  .topEventList__date {
    display: none;
    left: 33px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    bottom: 130px;
    font: 33px/100% 'anglecia_pro_titleregular';
    z-index: 1;
  }

  .topEventList.news ~ .topEventList__date {
    color: #e1e1e1;
  }

  .topEventList__date__day {
    font: 140px/74% 'anglecia_pro_titleregular';
  }

  .topEventList.news .topEventList__image {
    display: block;
    width: 100%;
  }

  .topEventList__slide {
    margin-top: 0px;
    padding-top: 100px;
  }

  .topEventList.news .topEventList__slide {
    width: 33.3333333%;
    height: 100%;
    padding-top: 0px;
    z-index: 1;
    overflow: hidden;
  }

  .topEventList.news .topEventList__item {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    overflow: hidden;
  }

  .topEventList__wrapper {
    height: 100%;
  }

  .topEventList__wrapper .topEventList__content {
    width: 99%;
    position: relative;
  }

  .topEventList__wrapper .topEventList__content,
  .topEventList__wrapper:after {
    display: inline-block;
    vertical-align: middle;
  }

  .topEventList__wrapper:after {
    content: '';
    width: 1px;
    height: 100%;
  }

  .topEventList.news .topEventList__wrapper {
    width: 100%;
    margin: 0;
    background: red;
  }

  .sliderJs {
    height: 100%;
    background: #ccdde1;
  }

  .sliderJs__twiter {
    display: block;
    height: 250px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }

  .sliderJs.news {
    background: #EBEBEB;
  }

  .sliderJs.news .sliderJs__background.right {
    opacity: .9;
  }

  .sliderJs.news .sliderJs__background.left:before {
    background: #EBEBEB;
  }

  .sliderJs__counter.topEventList__date {
    display: block;
  }

  .sliderJs.events .sliderJs__prev,
  .sliderJs.events .sliderJs__next {
    display: none;
  }

  .sliderJs.news .sliderJs__prev,
  .sliderJs.news .sliderJs__next {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  .sliderJs.news .sliderJs__prev {
    left: 25px;
  }

  .sliderJs.news .sliderJs__next {
    right: 25px;
    border-color: #fff;
  }

  .itemPage {
    width: 70%;
    margin: 100px auto 0;
    padding-right: 200px;
  }

  .itemPage:after {
    content: '';
    background: url(/static/mesto/img/detail_background.svg) no-repeat 50% 100%;
    background-size: 140%;
    height: 1500px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .itemPage.news:after {
    background: url(/static/mesto/img/gray_detail_background.svg) no-repeat 50% 100%;
  }

  .itemPage__header {
    font-size: 90px;
  }

  .itemPage__date {
    margin: 50px 0px 60px;
    font-size: 16px;
    color: #252324;
    opacity: .5;
  }

  .itemPage__image {
    margin: 80px 0px;
  }

  .itemPage__desc,
  .itemPage__content {
    font-size: 22px;
  }

  .itemPage__content p {
    margin: 45px 0px;
  }

  .itemPreview.events {
    width: 100%;
  }

  .itemPreview.events .itemPreview__header {
    text-align: center;
  }

  .itemPreview.events .itemPreview__content {
    display: none;
  }

  .itemPreview.events .itemPreview__image {
    display: none;
  }

  .itemPreview.events .itemPreview__blockImage {
    height: 360px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .itemPreview.fullnews {
    width: 100%;
  }

  .itemPreview.fullnews .itemPreview__figure {
    text-align: justify;
  }

  .itemPreview.fullnews .itemPreview__figure:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .itemPreview.fullnews .itemPreview__date,
  .itemPreview.fullnews .itemPreview__blockImage {
    display: none;
  }

  .itemPreview.fullnews .itemPreview__image,
  .itemPreview.fullnews .itemPreview__wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
  }

  .itemPreview.news {
    width: 100%;
  }

  .itemPreview.news .itemPreview__header {
    text-align: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font: 35px/100% anglecia_pro_titleregular;
    margin-bottom: 30px;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
  }

  .itemPreview.news .itemPreview__date {
    display: block;
    position: absolute;
    color: #fff;
    bottom: 30px;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 1;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
  }

  .itemPreview.news .itemPreview__content {
    color: #fff;
    font: 15px/110% anglecia_pro_titleregular;
    width: 100%;
    text-align: left;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
  }

  .itemPreview.news .itemPreview__image {
    display: none;
  }

  .itemPreview.news .itemPreview__figure {
    overflow: hidden;
  }

  .itemPreview.news .itemPreview__figure:hover .itemPreview__header,
  .itemPreview.news .itemPreview__figure:hover .itemPreview__content,
  .itemPreview.news .itemPreview__figure:hover .itemPreview__date {
    color: #000;
  }

  .itemPreview.news .itemPreview__figure:hover:after {
    background: #F6F6F6;
    cursor: pointer;
  }

  .itemPreview.news .itemPreview__figure:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, .7);
    top: 0px;
    left: 0px;
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
  }

  .itemPreview.news .itemPreview__wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
  }

  .itemPreview.news .itemPreview__emptyImage {
    display: inline-block;
    width: 100%;
  }

  .itemPreview.news .itemPreview__blockImage {
    position: absolute;
    width: 100%;
    top: 0px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .itemPreview.top .itemPreview__image {
    width: 70%;
    margin-top: -200px;
    -webkit-transform: translateX(calc(50% - 30px));
        -ms-transform: translateX(calc(50% - 30px));
            transform: translateX(calc(50% - 30px));
  }

  .itemPreview.top .itemPreview__wrapper {
    position: absolute;
    top: calc(50% - 110px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    left: 0px;
    right: 0px;
  }

  .itemPreview.top .itemPreview__content {
    width: calc(50% - 30px);
  }

  .itemPreview.top .itemPreview__header {
    font: 59px/110% 'anglecia_pro_titleregular';
    margin-bottom: 50px;
    width: 80%;
  }

  .nextBlock {
    width: 70%;
    margin: 100px auto;
  }

  .nextBlock__wrapper {
    text-align: justify;
    margin: 0px -40px;
  }

  .nextBlock__wrapper:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  .nextBlock__header {
    font-size: 40px;
    text-align: left;
  }

  .nextBlock__item {
    margin: 30px 0px;
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  .nextBlock.news .nextBlock__item {
    width: 100%;
    margin: 0px;
  }

  .socialList {
    margin: 50px auto;
    text-align: left;
    width: 70%;
  }

  .mainMenu {
    top: 40px;
    left: 40px;
    position: fixed;
  }

  .mainMenu.list.events .mainMenu__svg rect {
    fill: #fff;
  }

  .mainMenu.list.events .mainMenu__item.back:after {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }

  .mainMenu.list .mainMenu__svg rect {
    fill: #000;
  }

  .mainMenu.list .mainMenu__item.back:after {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
  }

  .mainMenu__item.detail {
    display: none;
  }

  .itemsListAll {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .itemsListAll__footer {
    display: block;
  }

  .itemsListAll__list {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .itemsListAll__img {
    display: inline-block;
    width: 100%;
  }

  .itemsListAll__text {
    display: block;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0px;
    padding: 0px 40px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
  }

  .itemsListAll__date {
    display: block;
    position: absolute;
    bottom: 40px;
    color: #fff;
    text-align: center;
    width: 100%;
    left: 0;
  }

  .itemsListAll__desc {
    display: block;
    color: #fff;
    text-align: center;
  }

  .itemsListAll__item {
    height: auto;
    width: 33.3333333%;
  }

  .itemsListAll__item:nth-child(1):before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border: 3px solid #fff;
  }

  .itemsListAll__item:nth-child(2) .itemsListAll__desc,
  .itemsListAll__item:nth-child(2) .itemsListAll__date {
    color: #2C2D33;
  }

  .itemsListAll__header {
    color: #fff;
    margin-bottom: 20px;
  }

  .pagesList__item {
    border-color: #000;
    color: #000;
    padding: 10px;
  }

  .pagesList.events .pagesList__item {
    border-color: #fff;
    color: #fff;
  }

  .popUpAnimator__content {
    background: rgba(255,255,255, .7);
    -webkit-transition: -webkit-transform 0s ease .5s, opacity .5s ease, height 0s ease .5s;
            transition: transform 0s ease .5s, opacity .5s ease, height 0s ease .5s;
  }
}

@media (max-width: 800px) {

  .mainPage__background {
    display: none;
  }

  .sliderJs__background {
    display: none;
  }

  .mainMenu.bottom {
    display: none;
  }

  .pagesList__item.preview:after,
  .pagesList__item.next:after {
    border-color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */
