/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'anglecia_pro_titleregular';
  src: url('../fonts/angleciaprotitleregular-webfont.eot');
  src: url('../fonts/angleciaprotitleregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angleciaprotitleregular-webfont.woff2') format('woff2'),
         url('../fonts/angleciaprotitleregular-webfont.woff') format('woff'),
         url('../fonts/angleciaprotitleregular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.baseEvents__menu__item {
  font: 14px Arial;
  text-decoration: none;
  color: #000;
  opacity: .3;
}

.baseEvents__footer__item {
  font: 14px Arial;
  text-decoration: none;
  color: #000;
  opacity: .3;
}

.baseFooter__item {
  font: 14px Arial;
  text-decoration: none;
  color: #000;
  opacity: .3;
}

.baseEvents {
  height: 100%;
  box-sizing: border-box;
  padding: 17px;
  position: relative;
}

.baseEvents__header {
  text-align: center;
}

.baseEvents__header__img {
  width: 30%;
}

.baseEvents__menu {
  width: 100%;
  position: absolute;
  transform-origin: bottom left;
  top: 20px;
  left: 100%;
  transform: translate(-30px, -100%) rotate(90deg);
}

.baseEvents__menu__item.active {
  opacity: 1;
}

.baseEvents__footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: justify;
}

.baseEvents__footer__item,
.baseEvents__footer:after {
  display: inline-block;
}

.baseEvents__footer:after {
  content: '';
  width: 100%;
}

.baseEvents__footer__item {
  display: inline-block;
  opacity: 1;
}

.feedBackPopUp {
  height: 100%;
  box-sizing: border-box;
  padding: 17px;
  position: relative;
}

.feedBackPopUp__header {
  text-align: center;
  font: 30px 'anglecia_pro_titleregular';
  margin: 30px 0px;
}

.feedBackPopUp__form {
  margin-top: 40px;
}

.feedBackPopUp__form input,
.feedBackPopUp__form textarea {
  font: 15px Arial;
  opacity: .3;
}

.feedBackPopUp__form input::-webkit-input-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form input::-moz-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form input:-ms-input-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form input:-moz-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form textarea::-webkit-input-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form textarea::-moz-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form textarea:-ms-input-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__form textarea:-moz-placeholder {
  font: 15px Arial;
  color: #2C2D33;
}

.feedBackPopUp__text,
.feedBackPopUp__button {
  width: 100%;
  display: block;
  background: #ccdde1;
  box-sizing: border-box;
  border: 2px solid #ccdde1;
  margin: 10px 0px;
  border-radius: 3px;
  color: #2C2D33;
  padding: 13px;
}

.feedBackPopUp__button {
  background: #B8C9CC;
  font-size: 20px;
  color: #fff;
  border: 0;
  padding: 17px;
}

.feedBackPopUp__button:hover {
  cursor: pointer;
}

.feedBackPopUp__text:focus {
  opacity: 1;
  background: #fff;
  outline: 0;
}

.baseFooter {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: justify;
}

.baseFooter__item,
.baseFooter:after {
  display: inline-block;
}

.baseFooter:after {
  content: '';
  width: 100%;
}

.baseFooter__item {
  display: inline-block;
  opacity: 1;
}

body,
html {
  width: 100%;
  height: 100%;
}

.mainPage {
  background: url('../img/main_bg.jpg');
  text-align: center;
  height: 100%;
}

.mainPage__wrapper,
.mainPage:after {
  display: inline-block;
  vertical-align: middle;
}

.mainPage__nav {
  margin-top: 70px;
}

.mainPage__item {
  margin: 20px;
  display: block;
  text-decoration: none;
  color: #000;
  font: 30px 'anglecia_pro_titleregular';
}

.mainPage__item.disabled {
  opacity: 0.2;
}

.mainPage:after {
  content: '';
  height: 100%;
}
/*# sourceMappingURL=main.css.map */
